@import '../_includes/base';

.page-node-type-page {
  .layout-container--wrapper {
    header {
      .region-header {
        height: auto;
      }
    }
  }

  main {
    .region-content {
      padding-top: 0;

      .node__content {
        .field--name-field-content-teaser {
          color: $white;
          background-color: $green;

          div {
            width: 100%;
            padding: $grid-gutter-width / 2;
            padding-top: $grid-gutter-width / 2;

            @include media-breakpoint-up(md) {
              padding: 0 map_get($spacers, 10) map_get($spacers, 10) map_get($spacers, 10);
            }

            @include media-breakpoint-up(lg) {
              width: 50%;
              padding-right: 0;
            }
          }
        }

        .field--name-field-paragraphs {
          overflow-x: hidden;
          margin-top: map_get($spacers, 10);

          > .field__item {
            margin-bottom: map_get($spacers, 10);
          }
        }
      }
    }
  }
}
