@import '../_includes/base';

.path-events {
  h1,
  .block-views-blockevents-block-1 > h2 {
    @include fontStyle(large);
    font-weight: $font-weight-light;
    margin-bottom: 2rem;
    padding-left: $border-radius;
    text-transform: uppercase;
  }

  .layout-content {
    .region-content {
      #block-relaunch2018-content {
        & > .views-element-container {
          margin-top: 0;
        }
      }

      .block-views-blockevents-block-1 {
        .view-events {
          margin-top: 50px;
        }
      }
    }
  }
}

.node--type-event {

  &.node--view-mode-full {
    @include rounded;
    background: $background;
    position: relative;
    top: -50px;

    & > .node__content {
      position: relative;
      top: 40px;

      & > .field {
        margin-bottom: 5rem;

        h2 {
          @include fontStyle(large);
          color: $color-green;
          font-weight: $font-weight-semi-bold;
        }

        h3 {
          @include fontStyle(default);
          text-transform: uppercase;
        }

        h4 {
          @include fontStyle(default);
          color: $color-green;
          line-height: 1.5;
          margin: 0;
        }

        h5 {
          @include fontStyle(default);
          color: $color-gray-2;
          font-weight: $font-weight-normal;
          line-height: 1.5;
          margin: 0;
        }

        h6 {
          @include fontStyle(default);
          font-weight: $font-weight-bold;
          line-height: 1.5;
          margin: 0;
        }

        &.field--name-field-text-intro {
          color: $color-deep-teal;
        }

        &.field--name-field-winners {
          h2 {
            margin-left: 2em;
          }

          & > .field__items {
            display: grid;
            grid-auto-rows: 1fr;
            grid-gap: 30px;
            grid-template-columns: 1fr;

            @include media-breakpoint-up(sm) {
              grid-template-columns: 1fr 1fr;
            }

            @include media-breakpoint-up(md) {
              grid-template-columns: 1fr 1fr 1fr;
            }

            @include media-breakpoint-up(lg) {
              grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            & > .field__item {
              position: relative;

              .winner--info {
                @include rounded;
                @include boxShadow;
                @include fontStyle(very-small);
                background-color: $color-green-lighter;
                bottom: 0;
                color: $color-white;
                max-width: 90%;
                padding: .5em .6em .5em .4em;
                position: absolute;
                right: 0;
                z-index: 1;

                .winner--info--award--wrapper {
                  &:before {
                    content: '*';
                    display: block;
                    float: left;
                    font-size: 5em;
                    font-weight: $font-weight-light;
                    margin: 1rem .05em -.1em 0;
                    line-height: 1rem;
                  }

                  .winner--info--award {
                    @include curlyBraces($color-white);
                    text-transform: uppercase;
                  }
                }

                .winner--info--project-title {
                  clear: both;
                  text-align: center;
                }
              }

              @media #{$ie} {
                display: inline-block;
                padding: 1rem;

                @include media-breakpoint-up(sm) {
                  width: 50%;
                }

                @include media-breakpoint-up(lg) {
                  width: 33%;
                }

                @include media-breakpoint-up(xl) {
                  width: 25%;
                }

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  &.node--view-mode-teaser,
  &.node--view-mode-preview {
    @include easeAll;
    @include rounded;
    background-color: $color-main;
    color: $color-white;
    height: 100%;
    padding: 1.5rem;

    @media #{$ie} {
      margin-bottom: 2rem;
    }

    .node--event--teaser--logo {
      img {
        @include img-fluid;

        @include media-breakpoint-up(sm) {
          width: 80%;
        }

        @include media-breakpoint-up(md) {
          width: 70%;
        }

        @include media-breakpoint-up(lg) {
          width: 50%;
        }

        @include media-breakpoint-up(xl) {
          width: 70%;
        }
      }
    }

    h2 {
      @include fontStyle(title);
      color: $color-white;
      margin-top: 1.5rem;
      text-transform: uppercase;
    }

    &.node--view-mode-preview {
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .node--event--teaser--logo {
        img {
          @include media-breakpoint-up(sm) {
            width: 90%;
          }

          @include media-breakpoint-up(md) {
            width: 70%;
          }

          @include media-breakpoint-up(xl) {
            width: 80%;
          }
        }
      }

      h2 {
        @include fontStyle(large);
      }

      & > * {
        margin-bottom: .4rem;
        margin-top: .4rem;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.node--link-wrapper--event {
  &:hover {
    text-decoration: none;

    .node--view-mode-teaser {
      background-color: $color-deep-teal;
    }
  }
}


