@import '../_includes/base';

#block-article-header {
  @include media-breakpoint-up(md) {
    margin-top: 113px;
  }
}

.node--type-article {
  color: $color-gray-1;

  .media--view-mode-header {
    .media--image--header--attribution {
      @include fontStyle(small);
      color: $color-gray-3;
      opacity: 0.6;

      .nowrap {
        & * {
          display: inline;
          white-space: normal;
          word-break: break-word;
        }
      }
    }
  }

  .article--content-block {
    a {
      font-weight: $font-weight-semi-bold;
    }

    background-color: $color-gray-6;

    @include media-breakpoint-up(md) {
      & > * {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .article--header {
    @include linkColor(alternative);
    z-index: 1;

    .node__submitted {
      @include fontStyle(small);
      color: $color-gray-3;
      margin-bottom: 10px;
    }

    h1 {
      color: $color-gray-1;
      margin-bottom: 10px;
    }

    h3 {
      @include fontStyle(large);
    }

    .field--name-field-tags {
      .field__item {
        @include fontStyle(small);
        display: inline;
        margin-right: 1rem;

        a {
          @include curlyBraces($color-dull-blue);
          font-weight: $font-weight-normal;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & > .article--content-block {
      @include border-top-radius($border-radius);

      padding: 20px 20px 50px 20px;

      @include media-breakpoint-up(md) {
        padding: 20px 0 50px 0;
      }
    }

    p {
      margin-bottom: 30px;
    }
  }

  .article--content-container {
    padding-top: 49vw;

    @include media-breakpoint-up(sm) {
      padding-top: 200px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 300px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 380px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 500px;
    }

    .paragraph--type--text {
      @include media-breakpoint-up(sm) {
        padding: 0 20px;
      }
      @include media-breakpoint-up(md) {
        padding: 0;
      }
    }

    .paragraph--type--image {
      margin: 20px 0 40px 0;

      .media--type-image {
        @include fontStyle(small);
        color: $color-gray-3;

        a {
          color: $color-gray-3;
          font-weight: $font-weight-normal;
        }

        img {
          @include rounded;
        }
      }
    }
  }

  &.node--view-mode-teaser {
    color: $color-gray-1;

    .article--header--above {
      margin-bottom: 10px;

      .article--date {
        @include fontStyle(small);
        display: inline;
        margin-right: 1rem;
      }

      .field--name-field-tags {
        display: inline;

        .field__items {
          display: inline;
        }
      }
    }

    .node__content {
      .field--name-field-paragraphs {
        .field__item {
          display: none;
          margin-bottom: 2rem;

          &:first-child {
            display: block;
          }

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .author {
      @include fontStyle(small);
      color: $color-gray-3;
    }
  }

  &.node--view-mode-related {
    padding-top: 15px;

    @include media-breakpoint-up(md) {
      .article--content-block {
        background-color: transparent;
      }
    }

    .article--header-image {
      position: static;

      @include media-breakpoint-up(md) {
        min-height: 160px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 230px;
      }
      @include media-breakpoint-up(xl) {
        min-height: 275px;
      }
    }

    .article--content-container {
      padding-top: 0;
    }
  }

  &.node--view-mode-frontpage {
    .article--header--above {
      margin-bottom: 1rem;
    }

    .node__content {
      .field--name-field-paragraphs {
        .field__item {
          margin-bottom: 0;

          .article--content-block > * {
            padding-left: 0;
            padding-right: 0;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
