@import '../_includes/base';

.page-node-type-data-set,
.page-node-type-project {
  .region-content {
    padding-top: 0;
  }
}

.node--type-data-set,
.node--type-project {
  &.node--view-mode-full {
    .article__header {
      background-color: $green;
      color: $white;

      > .row {
        @include media-breakpoint-up(lg) {
          min-height: 480px;
        }
      }

      h1 {
        color: $white;
      }

      .field--name-field-attributed-image,
      .field--name-field-project-image {
        height: 100%;
        width: 100%;

        .paragraph--type--attributed-image,
        .paragraph--type--project-image {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;

          @include media-breakpoint-up(lg) {
            text-align: right;
          }

          .field--name-field-inline-image {
            height: 100%;
            overflow: hidden;
            width: 100%;

            img {
              @include media-breakpoint-up(lg) {
                height: 100%;
                max-width: none;
                width: auto;
              }
            }
          }

          .paragraph--type--attributed-image--attribution,
          .paragraph--type--project-image--attribution {
            color: $white;
            padding: map_get($spacers, 1) / 2 map_get($spacers, 2) map_get($spacers, 4);
            text-align: center;
            width: 100%;

            a {
              @include link-underline;
              color: $white;
            }

            @include media-breakpoint-up(lg) {
              background-color: $blue;
              padding-bottom: map_get($spacers, 1) / 2;
              position: absolute;
              top: map_get($spacers, 4);
              right: 0;
              text-align: right;
              width: auto;
            }
          }
        }
      }
    }

    .project__tags {
      padding-top: map_get($spacers, 3);

      > div {
        @include tag-list;
      }

      & + .project__tags {
        padding-top: 0;
      }
    }

    .article--content-container {
      .node__content {
        > * {
          margin-bottom: map_get($spacers, 10);
        }

        .data-set--badges {
          > * {
            margin-bottom: map_get($spacers, 4);
          }
        }

        .field--name-field-submission-type {
          .field__item {
            @include font-size(16px);
          }
        }

        fieldset {
          &:not(.object-type) {
            border: 1px solid $green;
            padding: map_get($spacers, 2) map_get($spacers, 3);

            legend {
              color: $green;
              margin: 0 0 0 -2.5rem;
              padding: 0 0.5em;
              position: relative;
              width: auto;

              .fieldset-legend {
                background: $background-color;
                bottom: -0.3em;
                padding-right: 0.25em;
                position: absolute;
                white-space: nowrap;
              }
            }
          }

          a {
            @include link-underline;
          }

          .field__item:not(.badge) {
            @include font-size(16px);
          }

          .field--name-field-media-count,
          .field--name-field-objects-count {
            display: inline-block;
          }

          .field--name-field-access-mode,
          .field--name-field-controlled-vocabularies,
          .field--name-field-file-types,
          .field--name-field-has-geo-references,
          .field--name-field-license-code,
          .field--name-field-license-media,
          .field--name-field-links,
          .field--name-field-metadata-format,
          .field--name-field-metadata-license,
          .field--name-field-metadata-standards {
            margin-bottom: map_get($spacers, 3);

            &:last-child {
              margin-bottom: 0;
            }

            &:not(.field--name-field-links) {
              .field__items {
                .field__item {
                  display: inline-block;
                  margin-bottom: map_get($spacers, 1);
                }
              }
            }
          }

          .field--name-field-license-media {
            .field {
              margin-bottom: 0;
            }
          }

          .field--name-field-file-types {
            margin-top: map_get($spacers, 3);
          }

          .field--name-field-media-filesize {
            display: inline-block;
          }
        }

        .group--team {
          .field--name-field-team-members {
            > .field__item {
              margin-bottom: map_get($spacers, 3);

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .group--data-sets,
        .view-projects.view-display-id-block_2 {
          margin: 0;

          .field--name-field-datasets,
          .view-content {
            .views-row {
              margin-bottom: map_get($spacers, 3);
            }

            article {
              margin-bottom: map_get($spacers, 3);
              margin-top: map_get($spacers, 3);

              &:first-child {
                margin-top: 0;
              }

              &:last-child {
                margin-bottom: 0;
              }

              .field--name-field-attributed-image {
                img {
                  @include img-fluid;
                }
              }

              h3 {
                margin-bottom: map_get($spacers, 3);
              }

              .node__content {
                .field {
                  margin-bottom: 0;

                  &.field--name-field-short-description {
                    margin-bottom: map_get($spacers, 3);
                  }
                }

                .field--name-field-short-description {
                  font-weight: $font-weight-normal;
                }
              }
            }
          }

          .field--name-field-other-datasets {
            margin-top: map_get($spacers, 3);
          }
        }

        .view-projects.view-display-id-block_2 {
          article {
            .field--name-field-attributed-image {
              margin-bottom: 0;

              .field {
                margin-bottom: 0;
              }
            }
           }
        }
      }
    }
  }

  &.node--view-mode-teaser {
    .field--name-field-event {
      @include tag-list;
    }
  }

  fieldset.object-type {
    margin-top: 0;

    legend {
      display: none;
    }

    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
      }
    }
  }

  .field {
    .field__label {
      @include font-size(14px);
      font-weight: $font-weight-normal;
      margin-bottom: map_get($spacers, 1);
    }
  }
}
