@import '../_includes/base';

.node--type-data-set,
.node--type-project {

  &.node--view-mode-full {
    margin-top: 4rem;
  }

  .field {
    &:not(.field--name-field-license):not(.field--name-field-license):not(.field--name-field-author):not(.field--name-field-email) {
      margin-bottom: 1rem;
    }

    .field__label {
      @include fontStyle(small);
      font-weight: $font-weight-normal;
    }
  }

  .article--header-image {
    .field--name-field-attributed-image {
      .field--name-field-inline-image {
        @include border-radius(10px);
        background-color: $color-light-teal;

        img {
          @include border-radius(10px);
          filter: brightness(200%) saturate(0%) contrast(200%);
          height: auto;
          max-width: 100%;
          mix-blend-mode: multiply;
          opacity: 0.2;
        }
      }
    }
  }

  .article--content-container {
    padding-top: 0;

    @include media-breakpoint-up(md) {
      padding-top: 100px;
    }

    .article--header {
      .article--content-block {
        @include fontStyle(small);
        text-align: center;

        .field--name-field-attributed-image,
        .node--type-project--audio-video {
          display: inline-block;
          text-align: right;

          .field--name-field-inline-image,
          video {
            @include rounded;
            @include boxShadow;
            background: $white;
            max-width: 480px;
            padding: 1rem;

            img {
              @include rounded;
              @include img-fluid;
            }
          }

          .field--name-field-audio-video {
            & div {
              display: inline;
            }
          }
        }
      }
    }

    .node__content {
      @include border-top-radius($border-radius);
      background-color: $color-gray-6;
      margin-top: 3rem;

      &.node__content__section {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: $content-margin-bottom;
        margin-top: 3rem;
      }

      h1 {
        margin-top: 10px;
      }

      .badge {
        @include fontStyle(default);
      }

      .data-set--badges {
        margin-bottom: 2rem;
      }

      .field--name-field-events {
        margin-bottom: 0.4rem;

        & > * {
          display: inline-block;
          margin-bottom: 0.6rem;
        }
      }

      .field--name-field-theme,
      .field--name-field-keywords {
        margin-bottom: 0.4rem;

        .field__items > * {
          display: inline-block;
          margin-bottom: 1rem;
        }
      }

      .field--name-field-submission-type {
        .field__item {
          font-weight: $font-weight-semi-bold;
        }
      }

      .field--name-field-description {
        margin-top: 2rem;
      }

      fieldset {
        &:not(.object-type) {
          @include rounded;
          border: 1px solid $color-deep-teal;
          padding: 0 1.5rem 0 1.5rem;

          legend {
            background-color: $color-gray-6;
            color: $color-deep-teal;
            margin-left: 2rem;
            padding: 0 0.5em;
            width: auto;
          }
        }

        &.object-type {
          margin-top: 2rem;

          legend {
            display: none;
          }

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              margin-bottom: 0.2rem;

              ul {
                display: inline;
              }
            }
          }
        }

        .field--name-field-media-count,
        .field--name-field-objects-count {
          display: inline-block;
        }

        .field--name-field-controlled-vocabularies,
        .field--name-field-file-types,
        .field--name-field-metadata-format,
        .field--name-field-metadata-standard {
          margin-bottom: 0.8rem;

          .field__items {
            .field__item {
              display: inline-block;
              margin-bottom: 0.2rem;
            }
          }
        }
      }

      .field--name-field-short-description {
        font-weight: $font-weight-bold;
      }

      .group--result {
        @include rounded;
        background-color: lighten($color-light-teal, 5%);
        padding: 18px 20px 20px 20px;
        margin-top: 3rem;
        position: relative;

        & > .field:last-child {
          margin-bottom: 0;
        }
      }

      .group--team {
        margin-top: 3rem;
        position: relative;

        .field--name-field-team-members {
          & > .field__item {
            margin-bottom: 2rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .group--data-sets,
      .view-projects.view-display-id-block_2 {
        margin: 0;

        & > h2 {
          border-bottom: 1px solid $color-gray-3;
        }

        .field--name-field-datasets,
        .view-content {
          .views-row {
            margin-bottom: 20px;
          }

          article {
            margin-bottom: 1rem;
            margin-top: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            .field--name-field-attributed-image {
              img {
                @include img-fluid;
              }
            }

            h2 {
              margin-bottom: 0;
            }

            .node__content {
              @include fontStyle(small);
              margin: 0;

              .field--name-field-object-type,
              .field--name-field-tags {
                .badge {
                  @include fontStyle(small);
                  margin-bottom: 0.1rem;
                }
              }

              .field--name-field-short-description {
                font-weight: $font-weight-normal;
              }
            }
          }
        }

        .field--name-field-other-datasets {
          .field__label {
            border-bottom: 1px solid $color-gray-3;
            margin-bottom: 0.2rem;
          }
        }
      }

      .group--data-sets {
        margin-top: 3rem;
        position: relative;
      }

      .view-projects.view-display-id-block_2 {
        article {
          .field--name-field-attributed-image {
            margin-bottom: 0;

            .field {
              margin-bottom: 0;
            }
          }
        }
      }

      .field--name-field-event {
        display: inline;
      }

      .field--name-field-tags {
        display: inline;

        .field__items {
          display: inline;

          .field__item {
            margin-bottom: 0.2rem;
          }
        }
      }

      .project--tags {
        margin-bottom: 1.6rem;
        margin-top: 2rem;

        &:last-child {
          margin-top: 3rem;
        }

        & > * {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}
