{#
/**
 * @see field.html.twig
 */
#}
{% spaceless %}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'row',
  ]
%}
{% set attributes = attributes.addClass('clearfix', 'text-formatted') %}

<div{{ attributes.addClass(classes, 'field__items') }}>
  {% set i = 0 %}
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item col-lg-4') }}>{% if i == items|length - 1 %}<br class="d-none d-md-inline">{% endif %}{{ item.content }}</div>
    {% set i = i + 1 %}
  {% endfor %}
</div>

{% endspaceless %}
