@import '../_includes/base';

.paragraph--type--attribution {
  @include media-breakpoint-up(sm) {
    display: flex;
  }

  a {
    @include link-underline;
  }

  > .field {
    &:first-child {
      @include media-breakpoint-up(sm) {
        margin-right: map_get($spacers, 2);
      }
    }
  }

  .field--name-field-license {
    display: inline;
    margin-right: 0;

    .taxonomy-term {
      display: inline;
    }
  }

  .field--name-field-author {
    display: inline;
  }
}
