@import '../_includes/base';

.paragraph--type--attribution {
  @include linkColor(dark);

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & > .field {
    @include media-breakpoint-up(sm) {
      margin-bottom: .5rem;
    }

    &:first-child {
      @include media-breakpoint-up(sm) {
        margin-right: 1rem;
      }
    }
  }

  .field--name-field-license {
    display: inline;
    margin-right: 0;

    .taxonomy-term {
      display: inline;
    }
  }

  .field--name-field-author {
    display: inline;
  }
}
