
.paragraph--type--box-group {
  padding: 0;

  .field--name-field-boxes {
    position: relative;
    left: 0;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    width: 100%;
    margin-right: -1 * $grid-gutter-width * 0.5;

    @media #{$ie} {
      > .field__item {
        display: inline-block;
        width: 100%;
        padding: map_get($spacers, 2);
        vertical-align: top;
      }
    }
  }

  &.box-group--sync-height {
    .paragraph--type--box-group-box {
      display: flex;
      height: 100%;

      .paragraph--type--box {
        height: 100%;

        .card {
          height: 100%;
        }
      }

      @media #{$ie} {
        display: block;
      }
    }
  }

  @each $width in 25 33 50 67 {
    &.box--width-#{$width} {
      .field--name-field-boxes {
        @include boxWidth($width);
        margin-right: -1 * $grid-gutter-width * 0.5;

        > .field__item {
          padding: $grid-gutter-width * 0.5;
        }

        @media #{$ie} {
          width: 100%;

          > .field__item {
            @include boxWidth($width);
          }
        }
      }
    }
  }
}
