@import '../_includes/base';

.paragraph--type--box-group {
  margin-bottom: 6rem;

  .field--name-field-boxes {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-gap: 20px;
    left: 0;
    position: relative;
    width: 100%;

    @media #{$ie} {
      & > .field__item {
        display: inline-block;
        padding: 1rem;
        vertical-align: top;
        width: 100%;
      }
    }
  }

  @each $width in 25 33 50 67 {
    &.box--width-#{$width} {
      .field--name-field-boxes {
        @include boxWidth($width);

        @media #{$ie} {
          width: 100%;

          & > .field__item {
            @include boxWidth($width);
          }
        }
      }
    }
  }

  &.box-group--sync-height {
    .paragraph--type--box-group-box {
      display: flex;
      height: 100%;

      @media #{$ie} {
        display: block;
      }

      .paragraph--type--box {
        height: 100%;

        .card {
          height: 100%;
        }
      }
    }
  }
}
