@import '../_includes/base';

.paragraph--type--box-group {
  .field--name-field-boxes {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-gap: 20px;
    left: 0;
    position: relative;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(md) {
      width: 40%;
    }

    @include media-breakpoint-up(lg) {
      width: 32%;
    }

    @include media-breakpoint-up(xl) {
      width: 25%;
    }

    @media #{$ie} {
      width: 100%;

      & > .field__item {
        display: inline-block;
        padding: 1rem;
        vertical-align: top;
        width: 100%;

        @include media-breakpoint-up(sm) {
          width: 50%;
        }

        @include media-breakpoint-up(md) {
          width: 50%;
        }

        @include media-breakpoint-up(lg) {
          width: 33%;
        }

        @include media-breakpoint-up(xl) {
          width: 25%;
        }
      }
    }
  }

  &.box-group--sync-height {
    .paragraph--type--box {
      height: 100%;
      .card {
        height: 100%;
      }
    }
  }
}