@import '../_includes/base';

.paragraph--type--box,
.paragraph--type--box-group-box {
  .box--container {
    margin: 0 auto;
    width: 100%;

    @each $width in 25 33 50 67 {
      &.box--width-#{$width} {
        @include boxWidth($width);
      }
    }
  }

  .card {
    @include boxShadow;
    background-color: $color-white;

    .card-img-top {
      img {
        @include border-bottom-radius(0);
      }
    }

    .card-body {
      .field--name-field-text {
        p {
          &:last-child {
            margin-bottom: 0;

            .button {
              &:last-child {
                display: inline-block;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }

    .card-footer {
      background-color: $color-white;;
      border-top: none;

      .field--name-field-footer {
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
