@import '../_includes/base';

.paragraph--type--grid {
  .field--name-field-text {
    margin-bottom: map_get($spacers, 6);
  }

  .field--name-field-grid-elements {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: map_get($spacers, 6);

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }

    > .field__item {
      @media #{$ie} {
        display: inline-block;
        padding: map_get($spacers, 2);
        width: 50%;
      }

      .paragraph--type--grid-element {
        .field--name-field-image {
          margin-bottom: map_get($spacers, 3);

          img {
            border-radius: 0;
          }
        }
      }
    }
  }
}
