@import '../_includes/base';

.paragraph--type--logos {
  .field--name-field-logo-groups {
    .field__item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      .paragraph--type--logo-group {

        .field--name-field-group-name {
          color: $color-gray-2;
          font-weight: $font-weight-normal;
          margin-bottom: 50px;
        }

        .field__items {
          align-items: center;
          display: grid;
          grid-template-columns: 1fr;
          grid-auto-rows: 1fr;
          grid-gap: 50px 100px;
          justify-items: center;

          @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr;
          }

          @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr 1fr;
          }

          @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }

          .field__item {
            margin: 0;

            .paragraph--type--logo {
              .field--name-field-inline-image {
                img {
                  @include img-fluid;
                }
              }
            }

            @media #{$ie} {
              display: inline-block;
              width: 100%;

              @include media-breakpoint-up(sm) {
                width: 50%;
              }

              @include media-breakpoint-up(md) {
                width: 50%;
              }

              @include media-breakpoint-up(lg) {
                width: 33%;
              }

              @include media-breakpoint-up(xl) {
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
}
