
.paragraph--type--prizes {
  .field--name-field-description {
    margin-bottom: map_get($spacers, 6);
  }

  .field--name-field-prizes {
    .field__items {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      grid-gap: map_get($spacers, 6);

      > .field__item {

        .prize--info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: map_get($spacers, 4);
          color: $green;
          background-color: $green-light;

          .prize--number {
            margin-bottom: map_get($spacers, 6);
            font-size: 3rem;
            font-weight: $font-weight-bold;
            line-height: 1;
          }

          .paragraph--type--prize {
            .field--name-field-text {
              p {
                @include font-size(16px);
                color: $green;

                &:last-child {
                  margin-bottom: 0;
                }

                a {
                  color: $green;
                  font-weight: $font-weight-bold;
                }
              }
            }
          }
        }

        @media #{$ie} {
          display: inline-block;
          width: 50%;
          padding: map_get($spacers, 4);
        }
      }

      @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
