@import '../_includes/base';

.paragraph--type--social-media {
  .card {
    background-color: $green-light;

    .card-body {
      .field--name-field-text {
        p {
          &:last-child {
            margin-bottom: 0;

            .button {
              &:last-child {
                display: inline-block;
                margin-bottom: 1.5rem;
              }
            }
          }
        }
      }
    }

    .card-footer {
      background-color: $green-light;
      border-top: none;
      padding: 0 0 2rem 0;

      .field--name-field-links {
        @include media-breakpoint-up(sm) {
          position: relative;
          right: -4rem;
        }

        .field__items {
          .field__item {
            margin-bottom: 1rem;
            text-align: center;

            @include media-breakpoint-up(sm) {
              text-align: right;
            }

            &:last-child {
              margin-bottom: 0;
            }

            a {
              @include boxShadow;
              background-color: $green;
              color: $white;
              display: inline-block;
              font-weight: $font-weight-semi-bold;
              padding: 0.4rem;
              text-align: center;
              width: 90%;

              &:hover,
              &:visited,
              &:active {
                color: $white;
              }

              &:before {
                @include fa-icon;
                color: $white;
                content: '\e825';
                display: inline-block;
                margin-right: 0.8em;
                text-align: center;
                width: 1.25em;
              }
            }

            &.url--facebook {
              a {
                &:before {
                  @include fa-icon-brand;
                  content: '\f09a';
                }
              }
            }

            &.url--github {
              a {
                &:before {
                  @include fa-icon-brand;
                  content: '\f09b';
                }
              }
            }

            &.url--twitter {
              a {
                &:before {
                  @include fa-icon-brand;
                  content: '\f099';
                }
              }
            }
          }
        }
      }
    }
  }
}
