@import '../_includes/base';

.paragraph--type--video {
  .field--name-field-video {
    .media {
      display: flex;
      flex-direction: column;

      .field--name-field-media-oembed-video {
        @include rounded;
        width: 100%;

        iframe {
          @include boxShadow;
          width: 100%;
        }
      }

      .field--name-field-caption {
        @include fontStyle(small);
      }
    }
  }
}
