@import '../_includes/base';

.paragraph--type--winner {
  margin-bottom: 1.4rem;
  margin-right: 1.4rem;

  .field--name-field-award {
    display: inline;
    
    .field__item {
      display: inline;
    }
  }

  img {
    @include rounded;
    @include img-fluid;
  }
}
