
.paragraph--type--winner {
  img {
    @include img-fluid;
  }

  .field--name-field-award {
    @include font-size(12px);
    position: absolute;
    top: map_get($spacers, 2);
    right: 0;
    display: flex;
    align-items: center;
    min-height: 22px;
    padding: 3px map_get($spacers, 1);
    word-break: break-all;
    color: $white;
    background-color: $blue;

    .field__item {
      display: inline;
    }
  }

  > .winner__project--image {
    position: absolute;
    width: 90%;
  }

  .winner__project-title--wrapper {
    > .field--name-field-project {
      visibility: hidden;
      width: 90%;
    }

    .winner__project-title {
      @include boxShadow;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90%;
      word-break: break-word;

      a {
        @include font-size(16px);
        display: block;
        padding: map_get($spacers, 1) map_get($spacers, 2);
        text-decoration: underline;
        color: $green;
        background-color: $green-light;

        &:hover {
          color: $green-dark;
        }
      }
    }
  }
}
