@import '_includes/base';

.cke {
  &.cke_combopanel {
    min-width: 20rem;
  }
}

.node-form {
  .layout-region-node-main {
    & > .form-wrapper {
      margin-bottom: 3rem;
    }
  }
}

.form-type-entity-autocomplete,
.form-type-url {
  & > .description {
    display: none;
  }
}

#node-data-set-form,
#node-project-form,
#node-data-set-edit-form,
#node-project-edit-form {
  .layout-region-node-main {

    .description,
    .counter {
      margin-bottom: 0.75em;
    }

    .form-item,
    .field--type-boolean {
      &:not(.form-type-checkbox) {
        margin-bottom: 3em;
      }

      &.form-type-checkbox {
        margin: 1em 0;
      }

      .tabledrag-toggle-weight-wrapper {
        display: none;
      }
    }

    .horizontal-tabs {
      margin-bottom: 3rem;

      .horizontal-tabs-pane {
        padding-top: 1em;
        border: none;
        background: transparent;
      }
    }

    input,
    select {
      max-width: 100%;

      &[type='text'],
      &[type='email'],
      &[type='number'],
      &[type='tel'],
      &[type='url'],
      &.form-select {
        width: 25em;
        padding: 0.5em;
        font-size: $font-size-large;
        line-height: normal;
      }
    }

    .select2-selection {
      padding: 0.5em;
      font-size: $font-size-large;
      line-height: normal;
    }

    .field--widget-paragraphs td {
      padding: 10px 0 0 0;
    }

    .field--widget-options-buttons {
      margin-bottom: 3rem;
      padding: 2rem 0;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;

      & > .form-item {
        margin-bottom: 0;
      }

      & + .field--widget-options-buttons {
        padding-top: 0;
        border-top: none;
      }

      &.field--name-field-tags,
      &.field--name-field-theme,
      &.field--name-field-metadata-format,
      &.field--name-field-metadata-standards,
      &.field--name-field-controlled-vocabularies {
        .form-checkboxes {
          column-count: 2;

          & > .form-type-checkbox {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0.8em 0 0.2em 0;
          }
        }
      }
    }

    .details-wrapper {
      > .field--widget-options-buttons:first-child {
        padding-top: 0;
        border-top: none;
      }
    }

    .field--name-title,
    .field--name-field-keywords,
    .field--name-field-short-description,
    .field--name-field-datasets {
      input {
        width: 100%;
      }
    }

    .field--name-field-short-description {
      .description {
        margin-bottom: 0;
      }
    }

    .form-checkboxes {
      label {
        font-size: $font-size-large;
      }
    }

    .form-radios {
      .form-item {
        margin: 1em 0;

        [value='_none'] + label {
          font-style: italic;
        }
      }
      label {
        font-size: $font-size-large;
      }
    }

    .field--name-field-attributed-image {
      h4 {
        display: none;
      }

      table {
        @include border;
        padding: 0 20px;
        border-collapse: separate;

        thead {
          display: none;
        }

        tbody {
          tr {
            &:hover {
              background-color: transparent;
            }

            td {
              .field--name-field-inline-image {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    .field--name-field-audio-video {
      h4 {
        display: none;
      }

      table {
        @include border;
        padding: 0 20px;
        border-collapse: separate;

        thead {
          display: none;
        }

        tbody {
          tr {
            &:hover {
              background-color: transparent;
            }

            td {
              .paragraph-top {
                display: -ms-grid;
                display: grid;

                .paragraphs-icon-button-collapse {
                  display: none;
                }
              }
            }
          }
        }
      }

      .field--name-field-attribution {
        .paragraph-top {
          display: none;
        }
      }
    }

    .field--widget-paragraphs {
      margin-bottom: 3em;

      &:last-child {
        margin-bottom: 0;
      }

      .form-item {
        margin-bottom: 0;
      }

      .paragraph-bullet {
        display: none;
      }

      .paragraph-top {
        display: none;
      }

      table {
        @include border;

        border-collapse: separate;

        thead {
          th {
            border-top: none;

            .paragraphs-actions {
              display: none;
            }
          }
        }

        tbody {
          tr {
            &:hover {
              background-color: transparent;
            }
          }
        }
      }

      &.field--name-field-media-filesize,
      &.field--name-field-metadata-filesize {
        table {
          border: none;

          thead {
            display: none;
          }

          th {
            padding: 0;
            text-transform: none;
            border: none;
            background: transparent;
          }

          td {
            padding: 0;
          }
        }

        .form-item {
          margin-top: 0;
        }

        .paragraphs-subform {
          margin-top: 0;

          & > div {
            display: inline-block;

            .form-item {
              margin-top: 0;
            }
          }

          .field--name-field-size input {
            width: 15em;
          }

          .field--name-field-unit select {
            width: 6em;
          }
        }

        label {
          display: none;
        }
      }

      &.field--name-field-media-license,
      &.field--name-field-metadata-license,
      &.field--name-field-license-code,
      &.field--name-field-license-media {
        table {
          @include border;
          padding: 0 20px;
          border-collapse: separate;

          thead {
            display: none;
          }

          tbody {
            tr {
              &:hover {
                background-color: transparent;
              }

              td {
                padding: 10px 0 0 0;

                .paragraphs-subform {
                  margin-top: 0;
                }
              }
            }
          }
        }

        &.field--name-field-license-media,
        &.field--name-field-media-license {
          table {
            padding-bottom: 20px;

            .paragraph-top {
              display: grid;

              .paragraphs-icon-button {
                display: none;
              }
            }
          }
        }
      }

      .field--name-field-license {
        display: inline-block;

        .form-item {
          margin-top: 0;
          margin-bottom: 20px;

          select {
            width: 10em;
          }
        }
      }

      .field--name-field-author {
        display: inline-block;

        .form-item {
          margin-top: 0;

          input {
            width: 25em;
          }
        }
      }

      &.field--name-field-team-members {
        thead {
          display: none;
        }

        .paragraph-top {
          display: grid;

          .paragraph-type-label {
            display: none;
          }

          .paragraphs-icon-button-collapse {
            display: none;
          }
        }

        .field--type-link {
          margin-top: 0.75em;
          margin-right: 20px;

          & > div > .form-item {
            margin-top: 0;
          }
        }
      }
    }

    .field--name-field-events {
      .paragraph-top {
        display: grid;

        .paragraph-type-label {
          display: none;
        }

        .paragraphs-icon-button-collapse {
          display: none;
        }
      }

      & > div > h4 {
        display: none;
      }

      .paragraph-bullet {
        display: table-cell !important;
        width: 15px;

        &:after {
          display: none;
        }
      }

      .paragraphs-subform {
        margin-right: 20px;

        .field--name-field-representative {
          margin-top: 2rem;
          margin-bottom: 20px;

          & > div > h4 {
            display: none;
          }

          .paragraphs-subform {
            padding-bottom: 20px;
          }
        }
      }
    }

    .field--name-field-metadata-doc-links,
    .field--name-field-links-api,
    .field--name-field-links-media,
    .field--name-field-links-metadata,
    .field--name-field-links,
    .field--name-field-other-datasets {
      table {
        @include border;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-collapse: separate;

        thead {
          display: none;
        }

        tbody {
          tr {
            &:hover {
              background-color: transparent;
            }

            td {
              &:not(:first-child) {
                padding-right: 0;
                padding-left: 0;
              }

              .form-item {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &.field--name-field-links {
        .field-add-more-submit {
          margin-bottom: 20px;
        }
      }
    }

    fieldset {
      .fieldset-wrapper {
        & > div {
          &:last-child {
            & > div {
              .form-item {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    .filter-wrapper {
      display: none;
    }

    #group-description {
      margin: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      border: none;
      background: transparent;

      legend {
        letter-spacing: inherit;
        text-transform: none;
      }

      label {
        display: none;
      }
    }
  }
}

#node-faq-form,
#node-faq-edit-form {
  .field--name-field-links {
    & > div {
      & > h4 {
        display: none;
      }
    }
  }
}

.paragraph-type--winner {
  .paragraph-top {
    .paragraph-type-label {
      display: none;
    }
  }
}

.field--name-field-boxes,
.field--name-field-jury,
.field--name-field-logos,
.field--name-field-paragraphs,
.field--name-field-prizes,
.field--name-field-winners {
  & > div {
    & > .label {
      display: none;
    }
  }
}
