@import '_includes/base';

.badge {
  @include easeAll;
  @include font-size(12px);
  color: $white;
  background-color: $green-dark;
  border: 1px solid $green-dark;
  border-radius: 50px;
  font-weight: $font-weight-normal;
  display: inline-block;
  line-height: 1;
  margin: 0 map_get($spacers, 1) map_get($spacers, 1) 0;
  opacity: .5;
  padding: 3px 12px 5px;
  vertical-align: top;

  a {
    background-color: transparent;
    border-color: $green;
    color: $green;
    opacity: 1;

    &:hover {
      background-color: $green-dark;
      border-color: $green-dark;
      color: $white;
    }
  }
}

.view {
  .view-filters {
    .form-item {
      div.badge {
        background: transparent;
        border: 0;
        margin: 0;
        opacity: 1;
        padding: 0;

        a {
          &.bef-link-active {
            background-color: $green-dark;
            border-color: $green-dark;
            color: $white;

            &:after {
              content: '✖';
              font-weight: $font-weight-normal;
              font-size: .8em;
              margin-left: map_get($spacers, 1) / 2;
            }
          }
        }
      }

      ul ul {
        .badge {
          > .badge {
            border-color: $green-dark;
            color: $green-dark;

            &.bef-link-active {
              color: $white;
            }
          }
        }
      }
    }
  }
}
