@import 'includes/base';

.badge {
  @include fontSize(badge);
  @include linkColor(dark);
  color: $white;
  display: inline;
  font-weight: 600;
  margin-right: .2em;
  padding: .15em .4em .25em .4em;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    display: inline;
  }

  &.badge--event {
    background-color: $color-yellow;
  }

  &.badge--license {
    background-color: $color-red-2;
  }

  &.badge--theme {
    background-color: lighten($color-deep-blue, 20%);;
  }

  &.badge--file-types,
  &.badge--metadata-format {
    background-color: $color-gray-2;
  }

  &.badge--keywords {
    background-color: $color-gray-3;
  }

  &.badge--object-type,
  &.badge--project-type {
    background-color: $color-deep-teal;

    & + ul {
      .badge--object-type {
        background-color: $color-darker-green;
      }
    }
  }
}

.view {

  a.badge {
    text-decoration: none;
  }

  .view-filters {

    .form-item {

      div.badge {
        @include linkColor(dark);
        padding: 0;

        & > a {
          @include easeAll;
        }
      }

      &.form-item-object-type,
      &.form-item-project-type {
        .badge {
          & > .badge {
            background-color: $color-deep-teal;

            &:hover {
              background-color: lighten(saturate($color-deep-teal, 10%), 10%);
            }

            &.bef-link-active {
              background-color: lighten(desaturate($color-deep-teal, 20%), 15%);
              color: $color-gray-2;

              &:hover {
                background-color: lighten(saturate($color-deep-teal, 10%), 10%);
              }
            }
          }
        }

        ul ul {
          .badge {
            & > .badge {
              background-color: $color-darker-green;

              &:hover {
                background-color: lighten(saturate($color-darker-green, 10%), 10%);
              }

              &.bef-link-active {
                background-color: lighten(desaturate($color-darker-green, 0%), 20%);
                color: $color-gray-2;

                &:hover {
                  background-color: lighten(saturate($color-darker-green, 10%), 10%);
                }
              }
            }
          }
        }
      }

      &.form-item-license {
        .badge {
          & > .badge {
            background-color: $color-red-2;

            &:hover {
              background-color: lighten(saturate($color-red-2, 10%), 10%);
            }

            &.bef-link-active {
              background-color: lighten(saturate($color-red-2, 15%), 0%);
              color: $color-gray-2;

              &:hover {
                background-color: lighten(saturate($color-red-2, 10%), 10%);
              }
            }
          }
        }
      }

      &.form-item-theme {
        .badge {
          & > .badge {
            background-color: lighten($color-deep-blue, 35%);

            &:hover {
              background-color: lighten(saturate(lighten($color-deep-blue, 45%), 10%), 0%);
            }

            &.bef-link-active {
              background-color: lighten(saturate(lighten($color-deep-blue, 35%), 15%), 0%);
              color: $color-gray-2;

              &:hover {
                background-color: lighten(saturate(lighten($color-deep-blue, 45%), 10%), 0%);
              }
            }
          }
        }
      }

      &.form-item-event-id {
        .badge {
          & > .badge {
            background-color: $color-yellow;

            &:hover {
              background-color: lighten(saturate($color-yellow, 10%), 10%);
            }

            &.bef-link-active {
              background-color: lighten(saturate($color-yellow, 15%), 0%);
              color: $color-gray-2;

              &:hover {
                background-color: lighten(saturate($color-yellow, 10%), 10%);
              }
            }
          }
        }
      }

    }
  }
}
