@import 'includes/base';

.paragraph--type--box {
  .card {
    @include boxShadow;
    background-color: $color-white;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .card-img-top {
      img {
        @include border-bottom-radius(0);
      }
    }

    .card-footer {
      background-color: $color-white;;
      border-top: none;
    }
  }
}
