@import 'includes/base';

.node--type-data-set {

  .article--main-image {
    .field--name-field-attributed-image {
      .field--name-field-inline-image {
        @include border-radius(10px);
        background-color: $color-light-teal;

        img {
          @include border-radius(10px);
          filter: brightness(200%) saturate(0%) contrast(200%);
          height: auto;
          max-width: 100%;
          mix-blend-mode: multiply;
          opacity: .2;
        }
      }
    }
  }

  .article--content-container {
    padding-top: 0;

    @include media-breakpoint-up(md) {
      padding-top: 100px;
    }

    .article--main {

      .field--name-field-attributed-image {
        text-align: center;

        .paragraph--type--attributed-image {
          display: inline-block;

          .field--name-field-inline-image {
            @include border-radius($border-radius);
            @include boxShadow;
            background: $white;
            display: inline-block;
            padding: 1rem;

            img {
              @include border-radius($border-radius);
              @include img-fluid;
            }
          }
          
          .paragraph--type--attributed-image--attribution {
            @include fontSize(small);
            text-align: right;

            & div {
              display: inline;
            }

            & > div {
              margin-right: .3em;

              &:last-child {
                margin-right: 0;
              }
            } 
          }
        }
      }
    }

    .node__content  {
      @include border-top-radius($border-radius);
      background-color: $color-gray-6;
      margin-bottom: $content-margin-bottom;
      margin-top: 3rem;
      padding-top: 10px;

      .badge {
        @include fontSize(normal);
      }

      .field {
        margin-bottom: 1rem;

        .field__label {
          @include fontSize(small);
          font-weight: normal;
        }
      }

      .field--name-field-description {
        margin-top: 2rem;
      }

      .paragraph--type--attribution {
        @include media-breakpoint-up(sm) {
          display: flex;
        }

        a {
          color: $color-link-bright;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        .field {
          @include media-breakpoint-up(sm) {
            margin-bottom: .5rem;
          }

          &:first-child {
            @include media-breakpoint-up(sm) {
              margin-right: 1rem;
            }
          }
        }
      }

      fieldset {
        &:not(.object-type) {
          border: 1px solid $color-gray-3;
          padding: 0 1.5rem 0 1.5rem;

          legend {
            margin-left: 2rem;
            padding: 0 .5em;
            width: auto;
          }
        }

        &.object-type {
          margin-top: 2rem;

          legend {
            display: none;
          }

          ul {
            list-style-type: none;
            padding: 0;

            li {
              display: inline;

              ul {
                display: inline;
              }
            }
          }
        }
      }
    }

  }
}
