@import 'includes/base';

.page-node-type-event {

  .node--type-event {

    & > .node__content {

      & > .field {
        margin-bottom: 5rem;

        h2 {
          @include fontStyle(large);
          color: $color-green;
          font-weight: $font-weight-semi-bold;
        }

        h3 {
          @include fontStyle(default);
          text-transform: uppercase;
        }

        h4 {
          @include fontStyle(default);
          color: $color-green;
          line-height: 1.5;
          margin: 0;
        }

        h5 {
          @include fontStyle(default);
          color: $color-gray-2;
          font-weight: $font-weight-normal;
          line-height: 1.5;
          margin: 0;
        }

        h6 {
          @include fontStyle(default);
          font-weight: bold;
          line-height: 1.5;
          margin: 0;
        }

        &.field--name-field-text-intro {
          color: $color-deep-teal;

          & > .paragraph {
            @include media-breakpoint-up(md) {
              width: 65%;
            }

            &.center {
              margin: 0 auto;
            }
          }
        }

        &.field--name-field-winners {
          h2 {
            margin-left: 2em;
          }

          @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
            & > .field__items {
              & > .field__item {
                display: inline-block;
                padding: 1rem;
                width: 100%;

                @include media-breakpoint-up(sm) {
                  width: 50%;
                }

                @include media-breakpoint-up(md) {
                  width: 50%;
                }

                @include media-breakpoint-up(lg) {
                  width: 33%;
                }

                @include media-breakpoint-up(xl) {
                  width: 25%;
                }
              }
            }
          }
        }
      }
    }
  }
}
