@import 'includes/base';

.page-node-type-event {

  .node--type-event {

    & > .node__content {

      & > .field {
        margin-bottom: 5rem;

        h2 {
          color: $color-green;
          font-weight: $font-weight-semi-bold;
          margin-left: 2em;
        }

        .media--type-image {
          &.media--view-mode-full {
            padding: 0;
            flex-direction: column;

            img {
              height: auto;
              max-width: 100%;
            }
          }

          &.media--view-mode-default {
            padding: 0;
          }
        }
      }
    }
  }
}
