@import 'includes/base';

.page-node-type-event {

  .node--type-event {

    & > .node__content {

      & > .field {
        margin-bottom: 5rem;

        h2 {
          color: $color-green;
          font-weight: $font-weight-semi-bold;
          margin-left: 2em;
        }

        &.field--name-field-text-intro {
          color: $color-deep-teal;

          & > .paragraph {
            @include media-breakpoint-up(md) {
              width: 65%;
            }

            &.center {
              margin: 0 auto;
            }
          }
        }

        .media--type-image {
          &.media--view-mode-full {
            padding: 0;
            flex-direction: column;

            img {
              height: auto;
              max-width: 100%;
            }
          }

          &.media--view-mode-default {
            padding: 0;
          }
        }
      }
    }
  }
}
