@import '_includes/base';

input {
  @include rounded;

  border: 0;
  color: $color-gray-1;
  letter-spacing: 0.04em;
  max-width: 100%;
  padding: 10px 15px;

  &::-webkit-input-placeholder {
    color: $color-gray-3;
  }
  &::-moz-placeholder {
    color: $color-gray-3;
  }
  &:-ms-input-placeholder {
    color: $color-gray-3;
  }

  &[type='submit'] {
    @include easeAll;
    background-color: $color-main;
    color: $color-white;
    padding-left: 80px;
    padding-right: 80px;

    &:hover {
      background-color: $color-deep-teal;
    }
  }
}

ul.ui-autocomplete {
  li.ui-menu-item {
    a {
      @include fontStyle(small);
      display: block;

      &.ui-state-active {
        background-color: $color-link;
        color: $color-link-bright;
        text-decoration: none;
      }
    }
  }
}
