@import '_includes/base';

input {
  border: 0;
  color: $gray;
  max-width: 100%;
  padding: map_get($spacers, 1) map_get($spacers, 2);

  &::-webkit-input-placeholder {
    color: $gray-5;
  }
  &::-moz-placeholder {
    color: $gray-5;
  }
  &:-ms-input-placeholder {
    color: $gray-5;
  }

  &[type='submit'] {
    @include easeAll;
    background-color: $green;
    color: $white;
    padding-left: map_get($spacers, 10);
    padding-right: map_get($spacers, 10);

    &:hover {
      background-color: $green-dark;
    }
  }
}

ul.ui-autocomplete {
  li.ui-menu-item {
    a {
      @include font-size(14px);
      display: block;

      &.ui-state-active {
        background-color: $green;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
