@import '_includes/base';

.path-frontpage {
  .region-content {
    overflow-x: hidden;

    p {
      color: $green;

      a:not(.button) {
        @include greenLink;
        text-decoration: underline;
      }
    }

    #block-block-about {
      .field--name-field-paragraphs {
        margin-top: map_get($spacers, 5);

        > .field__item {

          &:last-child {
            margin-top: map_get($spacers, 5);
            padding: 0;

            @include media-breakpoint-up(md) {
              margin-top: map_get($spacers, 6);
            }
          }

          .paragraph {
            padding: 0;

            .separator {
              display: none;
            }

            &.paragraph--type--video {
              .field--name-field-video {
                article {
                  .field--name-field-caption {
                    display: none;
                  }
                }
              }
            }

            .container {
              padding: 0;
            }
          }

          @include media-breakpoint-up(md) {
            padding: 0 $grid-gutter-width;
          }
        }

        @include media-breakpoint-up(md) {
          margin-top: map_get($spacers, 10);
          padding-top: map_get($spacers, 6);
          background-color: $white;
        }
      }
    }

    #block-landing-page-group-possibilities {
      margin-top: map_get($spacers, 5);

      .block {
        padding: map_get($spacers, 5) $grid-gutter-width * 0.5 0 $grid-gutter-width * 0.5;
        background-color: $white;

        &:last-child {
          padding-bottom: map_get($spacers, 5);
        }

        &#block-landing-page-institutions {
          padding-bottom: map_get($spacers, 5);
          background-color: $green;

          h2,
          p,
          a {
            color: $white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }

        &.block-block-figures {
          padding-bottom: map_get($spacers, 5);
        }

        @include media-breakpoint-up(md) {
          padding: map_get($spacers, 5) $grid-gutter-width 0 $grid-gutter-width;
        }
      }

      .container {
        padding: 0;
      }

      .separator {
        display: none;
      }
    }

    #block-views-block-projects-block-3 {
      display: none;
      margin-top: map_get($spacers, 10);
      background-color: rgba($gray-2, 0.75);

      > div {
        padding: map_get($spacers, 6) 0;
      }

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    #block-relaunch2018-content {
      display: none;
      margin-top: map_get($spacers, 10);

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    .view-id-landing_page {
      .field--name-field-tags {
        display: none;
      }
    }
  }
}
