/**
 * @file
 * Tiled header styles.
 * Original styles:
 * https://github.com/codingdavinci/codingdavinci.de/blob/gh-pages/css/codingdavinci.scss
 */
@import '_includes/base';

.path-frontpage {
  .dialog-off-canvas-main-canvas {
    // Conflicts with tiles hover effect.
    height: 0;
  }
}

.header--tiles {
  width: 100%;

  .header--tiles--container {
    // TODO: Add static background image
    background: left top url('../img/header_background.jpg') repeat-x;
    height: $tiled-header-height;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

    .header--tiles--overlay {
      background: linear-gradient(180deg, rgba(101, 255, 172, 0.21) 0%, rgba(255, 197, 101, 0.38) 76.61%);
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.5;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }

    .header--tiles--content {
      padding-top: 100px;
      pointer-events: none;

      .header--tile--logo {
        @include boxShadow;
        @include fontStyle(large);
        @include fontStyle(block);
        @include rounded;
        background: $color-green-lighter;
        color: $color-white;
        margin: 0 auto;
        max-width: 100%;
        padding: 3rem 3rem 2rem 3rem;
        position: relative;
        width: 600px;

        @include media-breakpoint-up(lg) {
          padding: 4rem 4rem 3rem 4rem;
        }

        .header--title--logo--image {
          margin-bottom: 40px;

          @include media-breakpoint-up(md) {
            width: 70%;
          }

          img {
            height: auto;
            width: 100%;
          }
        }

        .header--title--logo--text {
          @media #{$ie} {
            max-width: 100%;
          }

          p {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .tiles {
      position: absolute;
      transform: translate3d(0, 0, 0);
      z-index: -1;

      .header-tile,
      .front,
      .back {
        height: 210px;
        width: 210px;
      }

      .header-tile {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        position: absolute;
        transform: rotate(45deg);
        perspective: 1000px;
        z-index: 5;

        &.hover {
          .flipper {
            transform: rotateY(180deg);
          }
        }

        .flipper {
          position: relative;
          transition: all 0.6s ease-in;
          transform-style: preserve-3d;

          .front,
          .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center center;
            transform: scale(1.04);
          }

          .front {
            z-index: 10;
          }

          .back {
            transform: scale(1.04) rotateY(180deg);
            z-index: 9;
          }

          .cdv-tiles1,
          .cdv-tiles10,
          .cdv-tiles11,
          .cdv-tiles12,
          .cdv-tiles13,
          .cdv-tiles14,
          .cdv-tiles15,
          .cdv-tiles16,
          .cdv-tiles17,
          .cdv-tiles18,
          .cdv-tiles19,
          .cdv-tiles2,
          .cdv-tiles20,
          .cdv-tiles21,
          .cdv-tiles22,
          .cdv-tiles23,
          .cdv-tiles24,
          .cdv-tiles25,
          .cdv-tiles26,
          .cdv-tiles27,
          .cdv-tiles28,
          .cdv-tiles29,
          .cdv-tiles3,
          .cdv-tiles30,
          .cdv-tiles31,
          .cdv-tiles4,
          .cdv-tiles5,
          .cdv-tiles6,
          .cdv-tiles7,
          .cdv-tiles8,
          .cdv-tiles9 {
            background: url('../img/header/Tiles_Start_small.jpg') no-repeat;
            display: block;
          }

          .cdv-tiles1 {  background-position: 0 0; }
          .cdv-tiles10 { background-position: -220px 0; }
          .cdv-tiles11 { background-position: -440px 0; }
          .cdv-tiles12 { background-position: -660px 0; }
          .cdv-tiles13 { background-position: -880px 0; }
          .cdv-tiles14 { background-position: 0 -220px; }
          .cdv-tiles15 { background-position: -220px -220px; }
          .cdv-tiles16 { background-position: -440px -220px; }
          .cdv-tiles17 { background-position: -660px -220px; }
          .cdv-tiles18 { background-position: -880px -220px; }
          .cdv-tiles19 { background-position: 0 -440px; }
          .cdv-tiles2 {  background-position: -220px -440px; }
          .cdv-tiles20 { background-position: -440px -440px; }
          .cdv-tiles21 { background-position: -660px -440px; }
          .cdv-tiles22 { background-position: -880px -440px; }
          .cdv-tiles23 { background-position: 0 -660px; }
          .cdv-tiles24 { background-position: -220px -660px; }
          .cdv-tiles25 { background-position: -440px -660px; }
          .cdv-tiles26 { background-position: -660px -660px; }
          .cdv-tiles27 { background-position: -880px -660px; }
          .cdv-tiles28 { background-position: 0 -880px; }
          .cdv-tiles29 { background-position: -220px -880px; }
          .cdv-tiles3 {  background-position: -440px -880px; }
          .cdv-tiles30 { background-position: -660px -880px; }
          .cdv-tiles31 { background-position: -880px -880px; }
          .cdv-tiles4 {  background-position: 0 -1100px; }
          .cdv-tiles5 {  background-position: -220px -1100px; }
          .cdv-tiles6 {  background-position: -440px -1100px; }
          .cdv-tiles7 {  background-position: -660px -1100px; }
          .cdv-tiles8 {  background-position: -880px -1100px; }
          .cdv-tiles9 {  background-position: 0 -1320px; }

          .code-tile1,
          .code-tile2,
          .code-tile3,
          .code-tile4,
          .code-tile5,
          .code-tile6,
          .code-tile7,
          .code-tile8,
          .code-tile9 {
            display: block;
            background: url('../img/header/Tiles_Code_small.jpg') no-repeat;
            background-size: 1260px;
          }

          .code-tile1 { background-position: 0 0; }
          .code-tile2 { background-position: -210px 0; }
          .code-tile3 { background-position: -420px 0; }
          .code-tile4 { background-position: 0 -210px; }
          .code-tile5 { background-position: -210px -210px; }
          .code-tile6 { background-position: -420px -210px; }
          .code-tile7 { background-position: 0 -420px; }
          .code-tile8 { background-position: -210px -420px; }
          .code-tile9 { background-position: -420px -420px; }
        }
      }
    }
  }
}
