@import '_includes/base';

.horizontal-nav {
  margin-bottom: map_get($spacers, 2);
  text-align: right;

  @media #{$ie} {
    display: none;
  }

  > a {
    &:hover {
      text-decoration: none;
    }

    &.inactive {
      opacity: 0.2;
    }

    > span {
      &:before {
        @include icon;
        content: '\e825';
        display: inline-block;
        margin: 0;
      }
    }

    &.horizontal-nav--left {
      > span {
        &:before {
          margin-right: map_get($spacers, 2);
          transform: scaleX(-1);
        }
      }
    }
  }
}
