@import 'includes/base';

.image-header {
  .article--header-image {
    left: 0;
    position: absolute;
    width: 100%;

    .container {
      @include media-breakpoint-only(xs) {
        padding: 0;
      }

      .field--name-field-image {
        img {
          @include media-breakpoint-down(xs) {
            border-radius: 0;
          }
        }
      }
    }
  }
}
