@import '_includes/base';

.language-switcher-language-url {
  @include rounded;
  color: $color-gray-4;
  display: flex;
  font-size: 1.2rem;
  font-weight: $font-weight-normal;
  margin: 0;
  margin-right: 0.75rem;
  padding-left: 0;
  user-select: none;

  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  li {
    display: inline;

    &:first-child {
      a {
        @include border-left-radius($border-radius);
      }
    }

    &:last-child {
      a {
        @include border-right-radius($border-radius);
      }
    }

    span {
      @include curlyBraces($color-gray-4);
      padding: 0.1rem 0.3rem;
    }

    a {
      @include curlyBraces($color-white);
      background-color: $color-white;
      color: $color-green-lighter;
      padding: 0.1rem 0.3rem;
    }

    &.is-active {
      color: $white;

      a {
        @include curlyBraces($color-white);
        background-color: $color-green-lighter;
        color: $white;
      }
    }
  }
}
