@import '_includes/base';

.language-switcher-language-url {
  @include rounded;
  color: $color-gray-4;
  display: flex;
  font-size: 1.2rem;
  font-weight: $font-weight-normal;
  margin: 0;
  margin-right: 0.75rem;
  padding-left: 0;
  user-select: none;

  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  li {
    display: inline;

    span {
      @include curlyBraces($color-gray-4);
      display: inline-block;
      padding: 0 0.3rem 0.2rem 0;
    }

    a {
      @include border-radius($border-radius);
      @include curlyBraces($color-white);
      background-color: transparent;
      color: $color-white;
      padding: 0 0.3rem 0.1rem 0.3rem;
    }

    &.is-active {
      color: $color-white;

      a {
        @include curlyBraces($black);
        background-color: $color-white;
        color: $black;
      }
    }
  }
}
