@import 'includes/variables';
@import 'includes/mixins';
@import '../lib/bootstrap/scss/bootstrap';

body {
  background-color: $color-gray-6;
}

.node__links {
  display: none;
  margin-left: .8rem;

  @include media-breakpoint-up(md) {
    display: inline;
  }

  .links {
    li {
      a {
        @include curlyBraces($color-green);

        color: $color-green;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.region-content {
  .language-switcher-language-url {
    right: 30px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.language-switcher-language-url {
  color: rgba($color-white, .25);
  font-size: calc(12px + .5vw);
  position: absolute;
  top: 25px;

  .links {
    padding-left: 0;

    li {
      display: inline;
      margin-left: .3rem;

      &:after {
        content: '}';
      }
      &:before {
        content: '{';
      }

      a {
        color: rgba($color-white, .5);
      }

      &.is-active {
        color: $color-white;
        font-weight: 600;

        a {
          color: $color-white;
          font-weight: 600;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.layout-container > footer {
  background-color: $color-main;
  color: $color-gray-2;
  font-size: 1.1rem;
  padding: 30px 0 40px 0;

  @include media-breakpoint-up(md) {
    padding-top: 60px;
  }

  em {
    color: $color-white;
    font-style: normal;
  }

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }

  .logos-container {
    padding-top: 20px;

    img {
      mix-blend-mode: multiply;
      opacity: .6;
    }
  }

  .field--name-field-textblock {
    color: $color-white;
    font-size: 1.0rem;

    h3 {
      color: $color-white;
      font-size: 1.0rem;
      font-weight: 600;
    }

    a {
      font-weight: bold;
    }
  }
}

#block-article-header {
  font-size: 1.6rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 2.4rem;
    text-align: left;
  }

  .field--name-body {
    a {
      color: $color-gray-2;
    }
  }

  .article--rss--subscribe {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.node--type-article {
  color: $color-gray-1;
  font-size: .9rem;
  letter-spacing: .01em;
  line-height: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  a {
    font-weight: 500;
  }

  .media--view-mode-header {
    color: $color-gray-4;
    font-size: .8rem;
    line-height: 120%;

    a {
      color: $color-gray-4;
      font-weight: 500;
    }
  }

  .article-content {
    background-color: $color-gray-6;

    @include media-breakpoint-up(md) {
      &> * {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .article--main-image {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .article--content-container {
    padding-top: 49vw;

    @include media-breakpoint-up(md) {
      padding-top: 43vw;
    }

    .article--main {
      z-index: 1;

      .node__submitted {
        color: $color-main;
        font-size: .8rem;
        letter-spacing: .06rem;
        line-height: 1;
        margin-bottom: 10px;

        @include media-breakpoint-up(md) {
          font-size: .9rem;
        }
      }

      h1 {
        color: $color-gray-1;
        font-size: 1.3rem;
        line-height: 1.9rem;
        margin-bottom: 10px;

        @include media-breakpoint-up(md) {
          font-size: 1.7rem;
        }
      }

      .field--name-field-tags {
        .field__item {
          display: inline;
          font-size: .8rem;
          letter-spacing: .06rem;
          margin-right: 1rem;

          @include media-breakpoint-up(md) {
            font-size: .9rem;
          }

          a {
            color: $color-dull-blue;
            font-weight: 400;
          }

          &:after {
            color: $color-dull-blue;
            content: '}';
          }

          &:before {
            color: $color-dull-blue;
            content: '{';
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &> .article-content {
        @include border-top-radius($border-radius);

        padding: 20px 20px 50px 20px;

        @include media-breakpoint-up(md) {
          padding: 20px 0 50px 0;
        }
      }

      p {
        margin-bottom: 30px;
      }
    }

    .paragraph--type--image {
      margin: 20px 0 40px 0;

      .media--type-image {
        color: $color-gray-3;
        font-size: .75rem;
        font-weight: 300;

        @include media-breakpoint-up(md) {
          font-size: .9rem;
        }

        a {
          color: $color-gray-3;
          font-weight: 400;
        }

        img {
          @include border-radius($border-radius);
        }
      }
    }
  }

  .media--type-image {
    display: block;
    width: 100%;

    .field--name-field-caption,
    .field--name-field-creator,
    .field--name-field-license {
      display: inline-block;
    }

    img {
      height: auto;
      width: 100%
    }
  }

  &.node--view-mode-teaser {
    color: $color-gray-1;

    .header {
      line-height: 1;
      margin-bottom: 10px;

      .date {
        color: $color-main;
        display: inline;
        font-size: .8rem;
        letter-spacing: .06em;
        margin-right: 1rem;
      }

      .tags {
        display: inline;
        font-size: .8rem;
        letter-spacing: .06em;

        a {
          @include curlyBraces($color-main);

          color: $color-main;
          font-weight: 400;
        }

        * {
          display: inline;
        }

        .field__item {
          margin-right: .6rem;
        }
      }
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }

      a {
        color: $color-gray-1;
      }
    }

    .node__content {
      font-size: 1.1rem;
      line-height: 170%;

      .field--name-field-paragraphs {
        .field__item {
          display: none;

          &:first-child {
            display: block;
          }

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .author {
      color: $color-gray-3;
      font-size: .8rem;
    }

  }

  &.node--view-mode-related {
    padding-top: 15px;

    @include media-breakpoint-up(md) {
      .article-content {
        background-color: transparent;
      }
    }

    .article--main-image {
      position: static;

      @include media-breakpoint-up(md) {
        min-height: 160px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 230px;
      }
      @include media-breakpoint-up(xl) {
        min-height: 275px;
      }

      img {
        @include border-radius($border-radius);
      }
    }

    .article--content-container {
      padding-top: 0;
    }
  }
}

#block-views-block-articles-block-1 {
  background-color: $color-light-teal;
  padding: 30px 15px 15px 15px;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    background: transparent;
    font-size: 1.1rem;
  }

  .date {
    color: $color-gray-1;
    line-height: 1;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      color: $color-gray-4;
      font-size: .9rem;
    }
  }

  h2 {
    color: $color-deep-teal;
    font-size: 1rem;
    letter-spacing: .06em;
    margin-bottom: 20px;
  }

  .article--main {
    margin-bottom: 15px;

    h3 {
      font-size: .9rem;
      margin-bottom: 0;
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 10px;
      }

      a {
        color: $color-gray-2;

        @include media-breakpoint-up(md) {
          color: $color-dull-dark-blue;
        }
      }
    }
  }

  .article-content {
    @include border-radius($border-radius);

    padding: 7px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }

    &> * {
      padding: 0;
    }
  }
}

.region-content-header {
  background-color: $color-light-blue;
  margin-bottom: 50px;
  padding-bottom: 50px;

  #block-articles-header {
    h2 {
      color: $color-gray-2;
      font-size: 2.4rem;
      font-weight: 500;
    }
  }

  #block-tags {
    h2 {
      font-size: 1rem;
      font-weight: 500;
    }

    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      .menu-item {
        @include curlyBraces($color-deep-teal);

        display: inline;
        font-size: 1rem;

        a {
          color: $color-deep-teal;
        }
      }
    }
  }
}
