@import 'includes/base';

body.path-user {
  &:not(.user-logged-in) {

    header {
      .header--with-background {
        background-color: transparent;
        padding: 0;
      }
    }

    main {
      margin-top: 0;
    }

    .layout-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .layout-content {
        text-align: center;

        .region-content {
          background-color: $color-light-blue;
          display: inline-block;
          margin-top: 20px;
          max-width: 100%;
          width: 100%;

          @include media-breakpoint-up(md) {
            @include border-radius($border-radius);
            @include boxShadow;
            margin: 50px 0 $content-margin-bottom 0;
            width: auto;
          }

          form {
            margin: 50px 30px 0 30px;

            .form-item {
              margin-bottom: 30px;

              input {
                width: 100%;
              }
            }

            p {
              margin-bottom: 30px;
              max-width: 600px;
              text-align: left;
            }

            div.description {
              margin-bottom: 30px;
              margin-top: 15px;
              max-width: 600px;
              text-align: left;
            }
          }

          .block-local-tasks-block {
            margin-bottom: 30px;
            margin-top: 50px;

            a {
              padding: 0;

              &:hover,
              &:focus {
                background-color: transparent;
              }

              &.is-active {
                background: transparent;
                font-weight: $font-weight-bold;
              }
            }

            ul {
              display: table;
              width: 100%;

              li {
                display: table-cell;
                padding: 0 30px;

                &.is-active {
                  font-weight: $font-weight-bold;
                }

                &:first-child {
                  text-align: left;
                }
                &:last-child {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
}