@import '_includes/base';

.media--type-image {
  display: block;
  width: 100%;

  .field--name-field-caption,
  .field--name-field-creator,
  .field--name-field-license {
    display: inline-block;

    &.field--name-field-caption {
      margin-top: map_get($spacers, 3);
    }
  }

  img {
    height: auto;
    width: 100%;
  }

  &.media--view-mode-logo {
    img {
      border-radius: 0;
    }
  }

  &.media--view-mode-full {
    flex-direction: column;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  &.media--view-mode-default {
    padding: 0;
  }

  .media--attribution {
    @include font-size(16px);
  }
}
