@import '_includes/base';

.region-primary-menu {
  color: $color-white;
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  font-weight: $font-weight-semi-bold;
  position: absolute;
  user-select: none;

  @include media-breakpoint-up(sm) {
    font-size: 1.8rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  .responsive-menu-toggle {
    .toggle {
      @include boxShadow;
      @include easeOut;
      @include rounded;
      background-color: $color-gray-6;
      color: $color-main;
      position: fixed;
      z-index: 10;
      left: 25px;
      padding: 2px 4px 4px;
      top: 25px;
      cursor: pointer;
      text-decoration: none;
      transform: rotateY(0deg);

      height: auto;
      width: auto;

      @include media-breakpoint-up(sm) {
        padding: 0 8px 4px;
      }

      &:hover {
        background-color: $color-white;
      }

      &:after {
        display: none;
      }

      &:before {
        display: none;
      }

      &.is-active {
        background-color: transparent;
        box-shadow: none;
        color: $color-white;
        transform: rotate(180deg);

        &:hover {
          background-color: transparent;
        }

        .patty {
          &:first-child:after {
            content: '\e812';
            font-family: $font-family-icons;
            font-size: 1.6rem;
            vertical-align: .2rem;
            padding: .1rem;
          }
        }
      }

      .patty {
        @include easeOut;

        &:first-child:after {
          content: '…';
        }
      }
    }
  }
}

.mm-menu {
  --mm-color-background-highlight: rgba(0, 0, 0, 0);
  --mm-color-border: transparent;
  --mm-color-background: #{$color-red-3};
  --mm-line-height: 40px;
  z-index: 2;

  @include media-breakpoint-up(sm) {
    --mm-line-height: 50px;
  }

  @include media-breakpoint-up(md) {
    --mm-line-height: 60px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .mm-navbars_top {
    @include media-breakpoint-up(sm) {
      display: none;
    }
    
    .language-switcher-language-url {
      padding-top: 25px;
      position: static;
      margin-left: 20px;
      text-align: left;
    }
  }

  .mm-panels {
    @include media-breakpoint-up(sm) {
      top: 0;
    }

    .mm-panel {
      padding-top: 25px;

      .mm-navbar {
        display: none;
      }

      .menu {
        font-size: 1.6rem;
        font-weight: $font-weight-semi-bold;

        @include media-breakpoint-up(sm) {
          font-size: 1.8rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 2rem;
        }

        .menu-item {
          a {
            color: $color-deep-teal;
          }

          .mm-panel {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;

            .menu-item {
              font-weight: $font-weight-light;
            }
          }
        }
      }
    }
  }

  .mm-navbars_bottom {
    border-top: 1px solid $color-gray-6;

    .menu {
      .menu-item {
        line-height: var(--mm-navbar-size);

        a {
          @include curlyBraces($color-gray-3);
          @include fontStyle(default);
          color: $color-gray-3;
          font-weight: $font-weight-light;
        }
      }
    }

  }
}

footer {
  .menu {
    font-size: 1rem;
    font-weight: $font-weight-bold;
    list-style-type: none;
    padding: 0;
    margin: 0 0 15px 0;

    .menu-item {
      &:before {
        color: $color-white;
      }
    }
  }
}
