@import '_includes/base';

.region-primary-menu {
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semi-bold;
  user-select: none;

  @mixin menuFontSize {
    font-size: 1.6rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  .navbar {
    @include menuFontSize;
    height: $navbar-height;
    padding: 0;
    // Keep z-index below admin toolbar:
    z-index: 250;

    .navbar--wrapper {
      align-items: center;
      background-color: $gray;
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      .navbar--left {
        align-items: center;
        display: flex;

        .navbar-toggler {
          @include menuFontSize;
          border-radius: 0;
          height: 100%;
          outline: none;
          padding: 0 1.2rem 0 0.8rem;
          text-align: left;
          white-space: nowrap;

          .navbar-toggler-icon {
            @include easeOut;
            background-image: str-replace(url('data:image/svg+xml,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="#{$white}" stroke-width="5" d="M4,4 L26,26 z M4,26 L26,4 z"/%3e%3c/svg%3e'), '#', '%23');
            display: inline-block;
            width: 1.5rem;
          }

          &.collapsed {
            .navbar-toggler-icon {
              background-image: str-replace(url('data:image/svg+xml,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="#{$white}" stroke-width="5" stroke-miterlimit="10" d="M1 4h27 M1 14h27 M1 24h27"/%3e%3c/svg%3e'), '#', '%23');
            }
          }
        }

        .menu--main--brand {
          display: flex;
        }
      }
    }

    .navbar--menu {
      background: $red-light;
      min-width: 67%;
      overflow: auto;
      padding: 3rem 1.5rem 0 3.75rem;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.3s ease-in-out;

      @include media-breakpoint-up(sm) {
        min-width: 33%;
      }

      @include media-breakpoint-up(lg) {
        min-width: 25%;
      }

      .navbar-collapse {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$navbar-height});
        justify-content: space-between;

        .navbar-nav {
          flex-shrink: 0;

          .menu-item {
            opacity: 0;
            transform: translate3d(100vw, 0, 0);
            transition: transform 0.3s ease-in-out, opacity 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);

            &:before {
              display: none;
            }

            &:hover {
              background-color: transparent;
            }

            .nav-link {
              padding: 0.2rem 0;
            }

            .dropdown-toggle {
              &:after {
                content: none;
              }
            }

            .dropdown-menu {
              @include font-size(18px);
              background-color: transparent;
              border: none;
              padding-top: 0;

              .menu-item {
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
        }
      }

      &.show {
        transform: translate3d(0, 0, 0);

        .navbar-collapse {
          .navbar-nav {
            .menu-item {
              opacity: 1;
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }

      a {
        color: $green;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
