@import '_includes/base';

.region-primary-menu {
  color: $color-white;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semi-bold;
  user-select: none;

  @mixin menuFontSize {
    font-size: 1.6rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  .navbar {
    @include menuFontSize;
    height: 45px;
    padding: 0;
    // Keep z-index below admin toolbar:
    z-index: 250;

    .navbar--wrapper {
      align-items: center;
      background-color: $color-gray-1;
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      .navbar-toggler {
        @include curlyBraces($color-white);
        @include easeOut;
        @include menuFontSize;
        border-radius: 0;
        outline: none;
        transform: rotate(360deg);
        white-space: nowrap;

        .navbar-toggler-icon {
          height: auto;
          vertical-align: baseline;
          width: auto;

          &:after {
            @include icon;
            content: '\e812';
            font-size: 1.2rem;
            margin: 0;
            vertical-align: .1rem;

            @include media-breakpoint-up(sm) {
              font-size: 1.4rem;
            }

            @include media-breakpoint-up(md) {
              font-size: 1.6rem;
            }
          }
        }

        &.collapsed {
          font-family: $font-family-sans-serif;
          margin-top: 0;
          transform: rotate(0deg);

          .navbar-toggler-icon {
            &:after {
              content: '…';
              font-weight: $font-weight-bold;
            }

          }
        }
      }

      .menu--main--brand {
        display: flex;
        margin-top: .2rem;
      }
    }

    .navbar--menu {
      background: $color-red-3;
      overflow: auto;
      padding: 0 1.5rem 0 .75rem;

      .navbar-collapse {
        &.show {
          display: flex;
          flex-direction: column;
          height: calc(100vh - 45px);
          justify-content: space-between;

          .navbar-nav {
            flex-shrink: 0;

            .menu-item {
              .dropdown-menu {
                background-color: transparent;
                border: none;
                padding-top: 0;

                .menu-item {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }

      a {
        color: $color-deep-teal;

        &:hover {
          text-decoration: underline;
        }
      }

      .menu--acount {
        .menu {
          .menu-item {
            a {
              @include curlyBraces($color-gray-3);
              @include fontStyle(default);
              color: $color-gray-3;
              font-weight: $font-weight-light;
            }
          }
        }
      }
    }
  }
}
