@import 'includes/base';

.page-node-type-event {

  .node--type-event {

    & > .node__content {

      & > .field {
        margin-bottom: 5rem;

        h2 {
          @include fontStyle(large);
          color: $color-green;
          font-weight: $font-weight-semi-bold;
        }

        h3 {
          @include fontStyle(default);
          text-transform: uppercase;
        }

        h4 {
          @include fontStyle(default);
          color: $color-green;
          line-height: 1.5;
          margin: 0;
        }

        h5 {
          @include fontStyle(default);
          color: $color-gray-2;
          font-weight: $font-weight-normal;
          line-height: 1.5;
          margin: 0;
        }

        h6 {
          @include fontStyle(default);
          font-weight: $font-weight-bold;
          line-height: 1.5;
          margin: 0;
        }

        &.field--name-field-text-intro {
          color: $color-deep-teal;
        }

        &.field--name-field-winners {
          h2 {
            margin-left: 2em;
          }

          & > .field__items {
            display: grid;
            grid-auto-rows: 1fr;
            grid-gap: 30px;
            grid-template-columns: 1fr;

            @include media-breakpoint-up(sm) {
              grid-template-columns: 1fr 1fr;
            }

            @include media-breakpoint-up(md) {
              grid-template-columns: 1fr 1fr 1fr;
            }

            @include media-breakpoint-up(lg) {
              grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            & > .field__item {
              position: relative;

              .winner--info {
                @include rounded;
                @include boxShadow;
                @include fontStyle(very-small);
                background-color: $color-green-lighter;
                bottom: 0;
                color: $color-white;
                max-width: 90%;
                padding: .5em .6em .5em .4em;
                position: absolute;
                right: 0;
                z-index: 1;

                .winner--info--award--wrapper {
                  &:before {
                    content: '*';
                    display: block;
                    float: left;
                    font-size: 5em;
                    font-weight: $font-weight-light;
                    margin: 1rem .05em -.1em 0;
                    line-height: 1rem;
                  }

                  .winner--info--award {
                    @include curlyBraces($color-white);
                    text-transform: uppercase;
                  }
                }

                .winner--info--project-title {
                  clear: both;
                  text-align: center;
                }
              }

              @media #{$ie} {
                display: inline-block;
                padding: 1rem;

                @include media-breakpoint-up(sm) {
                  width: 50%;
                }

                @include media-breakpoint-up(lg) {
                  width: 33%;
                }

                @include media-breakpoint-up(xl) {
                  width: 25%;
                }

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
