@import '_includes/base';

.pager {
  .pager__items {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .pager__item {
      a {
        color: $color-main;
      }

      &.is-active {
        display: none;
      }
    }
  }
}
