@import 'includes/base';

.field--name-field-paragraphs {
  & > .field__item {
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paragraph--type--box {
  .field--name-field-text {
    p {
      &:last-child {
        .button {
          &:last-child {
            display: inline-block;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}

.paragraph--type--textblock-left,
.paragraph--type--textblock-right {
  .field--name-field-medium {
    .paragraph--type--text {
      .field--name-field-text {
        a.button {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

.paragraph--type--video {
  .field--name-field-video {
    .media {
      display: flex;
      flex-direction: column;

      .field--name-field-media-oembed-video {
        width: 100%;

        iframe {
          @include boxShadow;
          width: 100%;
        }
      }

      .field--name-field-caption {
        @include fontSize(small);
      }
    }
  }
}
