@import 'includes/variables';
@import 'includes/mixins';
@import '../lib/bootstrap/scss/bootstrap-grid';

body {
  color: $color-gray-3;
  font-family: $font-family-base;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.4;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }
}

h1 {
  @include fontStyle(title);
  color: $color-main;
  margin-bottom: 2rem;
  text-align: left;
}

h2 {
  color: $color-gray-2;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }
}

header {
  h1 {
    margin-top: 80px;
  }
}

.header--custom {
  h1 {
    color: $color-gray-2;
  }

  h2 {
    color: $color-deep-teal;
    margin-bottom: 1rem;
  }
}

h3 {
  color: $color-gray-2;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;

  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 500;

  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

h5 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 15px;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

p {
  margin-bottom: 15px;

  &.small {
    color: $color-gray-2;
    font-size: 1rem;
    letter-spacing: 0.02rem;

    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
    }
  }

  &.supertitle {
    @include fontStyle(title);
  }
}

a {
  color: lighten($color-deep-blue, 5%);
  text-decoration: none;

  &:visited {
    color: $color-deep-blue;
  }

  &:hover,
  &:active {
    color: $color-deep-blue;
    text-decoration: underline;
  }

  &:before {
    color: lighten($color-deep-blue, 5%);
  }

  &.curly {
    @include curlyBraces($color-gray-3);
  }
}

figcaption {
  color: $color-gray-1;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.1;
  opacity: .5;
  text-align: right;
}

.icon-arrow {
  &:before {
    font-size: .7rem;
    margin-right: .8rem !important;;
    text-decoration: none;
    vertical-align: middle;
  }
}

.icon-mail-1 {
  &:before {
    font-size: .9rem;
    margin-right: .6rem !important;
    vertical-align: .05rem;
  }
}

.card {
  background-color: transparent;
  border: none;
  line-height: 1.4;
}

.cc0-note {
  @include fontSize(small);
  font-style: italic;
}
