/**
 * @file
 * Apart from being included in the front-end, the styles in this file are
 * injected into the backend's CKEditor instances.
 */
@import '_includes/variables';
@import '_includes/mixins';

body {
  @include font-size(20px);
  color: $gray;
  font-family: $font-family-sans-serif;

  &.cke_editable {
    padding: 0.5rem;
  }
}

h1,
.supertitle {
  @include font-size(28px);
  margin-bottom: map_get($spacers, 4);
  letter-spacing: 0.02em;
  color: $green;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  line-height: 129.6%;

  @include media-breakpoint-up(md) {
    @include font-size(32px);
  }
}

h2 {
  @include font-size(24px);
  margin-bottom: 14px;
  letter-spacing: 0.02em;
  color: $green;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  line-height: 115%;

  @include media-breakpoint-up(md) {
    @include font-size(28px);
    margin-bottom: 32px;
  }
}

h3 {
  @include font-size(20px);
  letter-spacing: 0.02em;
  color: $green;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  line-height: 129.6%;
}

h4,
h5,
h6 {
  @include font-size(16px);
  letter-spacing: 0.02em;
  color: $gray;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  line-height: 144%;

  &.field__label {
    font-weight: $font-weight-semi-bold;
  }
}

p {
  margin-bottom: 1em;
  color: $gray;
  font-family: $font-family-sans-serif;
  line-height: 153%;

  &.small {
    letter-spacing: 0.02rem;
    font-size: 0.8em;

    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
    }
  }

  &.w-75 {
    width: 100% !important;

    @include media-breakpoint-up(md) {
      width: 75% !important;
    }
  }

  a {
    @include grayLink;
  }

  @include media-breakpoint-up(sm) {
    line-height: 150%;
  }

  @include media-breakpoint-up(md) {
    line-height: 144%;
  }

  @include media-breakpoint-up(lg) {
    line-height: 165%;
  }

  @include media-breakpoint-up(xl) {
    line-height: 153%;
  }
}

a {
  &:before {
    color: $green;
  }

  &.curly {
    @include curlyBraces($gray-5);
  }

  &.button {
    @include easeAll;
    display: inline-block;
    padding: 0.6em 1.4em;
    color: $white;
    font-weight: $font-weight-semi-bold;

    &:hover {
      text-decoration: none;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    &.button--green {
      background-color: $green;

      &:hover {
        color: $white;
        background-color: $green-dark;
      }
    }

    &.button--red {
      background-color: $red;

      &:hover {
        color: $white;
        background-color: darken($red, 20%);
      }
    }

    &.button--large {
      @include font-size(18px);
      letter-spacing: 0.01em;
    }

    &.button--icon {
      &:before {
        @include icon;
        color: $white;
      }

      &.button--arrow {
        &:before {
          display: inline-block;
          padding-bottom: 0.3em;
          content: '\e825';
          vertical-align: middle;
          font-size: 0.6em;
        }
      }

      &.button--mail {
        &:before {
          content: '\e80b';
        }
      }
    }
  }
}

strong {
  font-weight: $font-weight-bold;
}

ol,
ul {
  margin-bottom: map_get($spacers, 6);

  a {
    @include grayLink;
  }
}

ul {
  list-style-type: none;
}

table.table--red,
table.table--white {
  @include boxShadow;
  display: inline-block;
  margin-bottom: map_get($spacers, 6);
  padding-bottom: map_get($spacers, 2);
  border-spacing: map_get($spacers, 1);
  border-collapse: separate;
  background-color: $white;

  caption {
    @include font-size(28px);
    display: block;
    padding: map_get($spacers, 2) map_get($spacers, 1);
    caption-side: top;
    color: $green;
    background-color: $white;
    font-weight: $font-weight-semi-bold;

    @include media-breakpoint-up(lg) {
      padding: map_get($spacers, 4) map_get($spacers, 2);
    }
  }

  tr {
    td,
    th {
      @include font-size(16px);
      padding-bottom: map_get($spacers, 1);
      vertical-align: top;
      border-bottom: 1px solid $green;

      &:nth-child(odd) {
        color: $green;
      }

      &:first-child {
        border-bottom: none;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: map_get($spacers, 2);
      }
    }
  }

  thead {
    font-weight: $font-weight-bold;
  }

  tbody {
    @include font-size(14px);

    tr {
      &:last-child {
        td {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }

  &.table--red {
    background-color: $red-light;

    caption {
      color: $white;
      background-color: $red-light;
    }

    tr {
      td,
      th {
        border-bottom: 1px solid $white;

        &:nth-child(odd) {
          color: $green;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    border-spacing: map_get($spacers, 2);
  }
}

.text-formatted {
  ul {
    @include ul-dashed;
  }
}

figcaption {
  @include font-size(14px);
  text-align: right;
  opacity: 0.5;
  color: $gray;
  font-weight: $font-weight-light;
  line-height: 1.1;
}

.icon-arrow {
  &:before {
    margin-right: 0.8rem !important;
    vertical-align: middle;
    text-decoration: none;
    color: $green;
    font-size: 0.7rem;
  }
}
a.icon-arrow {
  @include greenLink;
}

.icon-mail-1 {
  &:before {
    margin-right: 0.6rem !important;
    vertical-align: 0.11rem;
    font-size: 0.7em;
  }
}
a.icon-mail-1 {
  @include greenLink;
}

[class^="spamspan"]:before {
  font-family: "cdv_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.spamspan {
  &:before {
    margin-right: 0.6rem !important;
    vertical-align: 0.11rem;
    font-size: 0.7em;
  }
}
a.spamspan {
  @include greenLink;
}

.icon-cc-by {
  &:before {
    display: block;
    float: left;
    margin-top: 1em;
    margin-right: 2em;
    padding-bottom: 4rem;
    content: '\63\00a0\6c';
    font-size: 2rem;
  }
}

.icon-twitter {
  &:before {
    margin-right: 0.8rem !important;
    content: 'î „';
    vertical-align: -0.1em;
    font-size: 1.3em;
  }
}

.card {
  @include font-size(16px);
  border: none;
  border-radius: 0;
  background-color: transparent;
  line-height: 140%;

  .card-body {
    padding: map_get($spacers, 2);

    h3 {
      @include font-size(20px);
    }

    @include media-breakpoint-up(lg) {
      padding: map_get($spacers, 4);
    }
  }

  .card-footer {
    padding: map_get($spacers, 2);

    p {
      color: $green-blue;
    }

    @include media-breakpoint-up(lg) {
      padding: map_get($spacers, 4);
    }
  }
}

.cc0-note {
  @include font-size(14px);
  font-style: italic;
}
