@import 'includes/base';

#block-views-block-articles-block-1 {
  background-color: $color-light-teal;
  padding: 30px 15px 15px 15px;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    background: transparent;
    font-size: 1.1rem;
  }

  .date {
    color: $color-gray-1;
    line-height: 1;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      color: $color-gray-4;
      font-size: .9rem;
    }
  }

  h2 {
    color: $color-deep-teal;
    font-size: 1rem;
    letter-spacing: .06em;
    margin-bottom: 20px;
  }

  .article--main {
    margin-bottom: 15px;

    h3 {
      font-size: .9rem;
      margin-bottom: 0;
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 10px;
      }

      a {
        color: $color-gray-2;

        @include media-breakpoint-up(md) {
          color: $color-dull-dark-blue;
        }
      }
    }
  }

  .article-content {
    @include border-radius($border-radius);

    padding: 7px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }

    &> * {
      padding: 0;
    }
  }
}

.view-articles.view-display-id-page_1 {
  .view-content {
    .views-row {
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        margin-bottom: 100px;
      }
    }
  }
}
