@import 'includes/base';

.view-data-sets {

  a.badge {
    text-decoration: none;
  }

  .view-filters {
    margin-bottom: 2rem;

    form {
      .form--inline {
        .form-item {
          float: none;
          margin-right: 0;
          margin-top: 0;

          .bef-links {
            line-height: 1.6;

            ul {
              list-style-type: none;
              padding: 0;

              li {
                display: inline;

                ul {
                  display: none;
                }

                > div {
                  &.bef-link-active {
                    & + ul {
                      &:not(.bef-nested-hide) {
                        display: block;
                      }
                    }
                  }
                }

              }
            }
          }

          label {
            @include fontSize(small);
          }

          div.badge {
            @include linkColor(dark);
            padding: 0;

            & > a {
              @include easeAll;
            }
          }

          &.form-type-textfield {
            label {
              margin-bottom: 0;
            }

            input {
              @include fontSize(small);
              padding: .4em;
              width: 100%;
            }
          }

          &.form-type-select {
            label {
              border-bottom: 1px solid $color-gray-3;
              width: 100%;
            }
          }

          &.form-item-object-type {
            .badge {
              & > .badge {
                background-color: lighten($color-deep-teal, 10%);

                &:hover {
                  background-color: $color-deep-teal;
                }

                &.bef-link-active {
                  background-color: $color-deep-teal;

                  &:hover {
                    background-color: lighten($color-deep-teal, 10%);
                  }

                  &.bef-link-inactive {
                    background-color: lighten($color-deep-teal, 10%);
                  }

                  &.bef-link-hover {
                    background-color: $color-deep-teal;
                  }
                }
              }
            }

            ul ul {
              .badge {
                & > .badge {
                  background-color: lighten($color-darker-green, 10%);

                  &:hover {
                    background-color: $color-darker-green;
                  }

                  &.bef-link-active {
                    background-color: $color-darker-green;

                    &:hover {
                      background-color: lighten($color-darker-green, 10%);
                    }
                  }
                }
              }
            }
          }

          &.form-item-license {
            .badge {
              & > .badge {
                background-color: lighten($color-red-2, 10%);

                &:hover {
                  background-color: $color-red-2;
                }

                &.bef-link-active {
                  background-color: $color-red-2;

                  &:hover {
                    background-color: lighten($color-red-2, 10%);
                  }

                  &.bef-link-inactive {
                    background-color: lighten($color-red-2, 10%);
                  }

                  &.bef-link-hover {
                    background-color: $color-red-2;
                  }
                }
              }
            }
          }

          &.form-item-metadata-format {
            .badge {
              & > .badge {
                background-color: lighten($color-deep-blue, 35%);

                &:hover {
                  background-color: lighten($color-deep-blue, 20%);;
                }

                &.bef-link-active {
                  background-color: lighten($color-deep-blue, 20%);;

                  &:hover {
                    background-color: lighten($color-deep-blue, 35%);
                  }

                  &.bef-link-inactive {
                    background-color: lighten($color-deep-blue, 35%);
                  }

                  &.bef-link-hover {
                    background-color: lighten($color-deep-blue, 20%);;
                  }
                }
              }
            }
          }

          &.form-item-event-id {
            .badge {
              & > .badge {
                background-color: lighten($color-yellow, 10%);

                &:hover {
                  background-color: $color-yellow;
                }

                &.bef-link-active {
                  background-color: $color-yellow;

                  &:hover {
                    background-color: lighten($color-yellow, 10%);
                  }

                  &.bef-link-inactive {
                    background-color: lighten($color-yellow, 10%);
                  }

                  &.bef-link-hover {
                    background-color: $color-yellow;
                  }
                }
              }
            }
          }

          &.form-item-institution {
            input {
              padding-right: 20px;
            }
          }

        }

        & > fieldset {
          @include media-breakpoint-up(lg) {
            legend {
              display: none;
            }
            .collapse:not(.show) {
              display: block !important;
            }
          }
        }

        .form-actions {
          input {
            padding-left: .4em;
            padding-right: .4em;
            margin: 0 0 1rem 0;
            width: 100%;
          }
        }

      }
    }
  }

  .view-content {
    .badge a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .card-columns {
      @include media-breakpoint-up(sm) {
        column-count: 2;
      }

      @include media-breakpoint-up(lg) {
        column-count: 3;
      }

      .card {
        @include border-radius($border-radius);
        @include boxShadow;
        background-color: $white;
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;

        .card-img {
          img {
            @include border-top-radius($border-radius);
            height: auto;
            max-width: 100%;
          }
        }

        .card-body {
          .card-title {
            border-bottom: 1px solid $color-gray-5;
            padding-bottom: 1rem;
          }

          .field {
            margin-top: 1rem;

            &.field--name-field-representative {
              @include fontSize(small);
            }

            &.field--name-field-object-type {
              .badge--object-type {
                background-color: $color-deep-teal;
                color: $white;
              }
            }

            .field {
              margin-top: .2rem;
            }

          }
        }
      }
    }
  }

  .pager {
    .pager__items {
      justify-content: center;
    }
  }
}
