@import 'includes/base';

.view {

  .view-filters {
    margin-bottom: 2rem;

    form {
      .form--inline {
        .form-item {
          float: none;
          margin-right: 0;
          margin-top: 0;

          .bef-links {
            line-height: 1.6;

            ul {
              list-style-type: none;
              padding: 0;

              li {
                display: inline;

                ul {
                  display: none;
                }

                > div {
                  &.bef-link-active {
                    & + ul {
                      &:not(.bef-nested-hide) {
                        display: block;
                      }
                    }
                  }
                }

              }
            }
          }

          label {
            @include fontSize(small);
          }

          &.form-type-textfield {
            label {
              margin-bottom: 0;
            }

            input {
              @include fontSize(small);
              padding: .4em;
              width: 100%;
            }
          }

          &.form-type-select {
            label {
              border-bottom: 1px solid $color-gray-3;
              width: 100%;
            }
          }

          &.form-item-institution {
            input {
              padding-right: 20px;
            }
          }

        }

        & > fieldset {
          @include media-breakpoint-up(lg) {
            legend {
              display: none;
            }
            .collapse:not(.show) {
              display: block !important;
            }
          }
        }

        .form-actions {
          input {
            padding-left: .4em;
            padding-right: .4em;
            margin: 0 0 1rem 0;
            width: 100%;
          }
        }

      }
    }
  }

  .pager {
    .pager__items {
      justify-content: center;
    }
  }

  // TODO: Merge with data set archive styles that currently have a masonry layout
  .view-content {

    .card-columns {
      @include media-breakpoint-up(sm) {
        column-count: 2;
      }

      @include media-breakpoint-up(lg) {
        column-count: 3;
      }

      .card {
        @include border-radius($border-radius);
        @include boxShadow;
        background-color: $white;
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;

        .card-img {
          img {
            @include border-top-radius($border-radius);
            height: auto;
            max-width: 100%;
          }
        }

        .card-body {
          .card-title {
            border-bottom: 1px solid $color-gray-5;
            padding-bottom: 1rem;
          }

          .field {
            margin-top: 1rem;

            &.field--name-field-event {
              @include fontSize(small);
            }

            .field {
              margin-top: .2rem;
            }
          }
        }
      }
    }
  }

  &.view-projects {
    @include media-breakpoint-up(md) {
      form {
        .form--inline {
          .form-item-search {
            margin: 0;
          }

          .form-actions {
            margin: 0;

            input {
              margin: 0;
              padding-bottom: .2em;
              padding-top: .2em;
            }
          }
        }
      }
    }

    .view-content {
      align-items: stretch;
      display: grid;
      grid-auto-rows: 1fr;
      grid-gap: 30px;
      grid-template-columns: 1fr;
      justify-items: stretch;
      margin: 2rem 0 $content-margin-bottom 0;

      @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .card {
        @include border-radius($border-radius);
        @include boxShadow;
        background-color: $white;
        height: 100%;
        width: 100%;

        .card-img {
          img {
            @include img-fluid;
            @include border-top-radius($border-radius);
          }
        }

        .card-body {
          .card-title {
            border-bottom: 1px solid $color-gray-5;
            padding-bottom: 1rem;
          }

          .node__content {
            @include fontSize(small);

            .field {
              margin-top: 1rem;

              .field {
                margin-top: .2rem;
              }

            }
          }
        }
      }
    }
  }

}
