@import 'includes/base';

#block-views-block-articles-block-1 {
  background-color: $color-light-teal;
  padding: 30px 15px 15px 15px;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    background: transparent;
  }

  .article--date {
    @include fontStyle(small);
    color: $color-gray-1;
    line-height: 1;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      color: $color-gray-4;
    }
  }

  h2 {
    color: $color-deep-teal;
    margin-bottom: 20px;
  }

  .article--header {
    margin-bottom: 15px;

    h3 {
      @include fontStyle(small);
      margin-bottom: 0;
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-bottom: 10px;
      }
    }
  }

  .article--content-block {
    @include rounded;

    padding: 7px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }

    &> * {
      padding: 0;
    }
  }
}

.view-articles.view-display-id-page_1 {
  .view-content {
    .views-row {
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        margin-bottom: 100px;
      }
    }
  }
}
