@import 'includes/base';

.view.view-press-kits {
  font-weight: 300;
  margin-bottom: $content-margin-bottom;

  .view-content {
    .card-columns {
      column-count: 1;

      .card {
        background-color: transparent;
        box-shadow: none;
        display: inline-block;
        margin-bottom: 40px;

        .field--name-field-files {
          margin-top: .6rem;
        }
      }

      @include media-breakpoint-up(md) {
        column-count: 2;
      }
    }

    h2 {
      color: $color-deep-teal;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 0;
    }
  }
}
