@import '../_includes/base';

.view-faq {
  margin-bottom: $content-margin-bottom;

  .view-content {
    ul {
      list-style-type: none;

      li {
        margin: 0;
      }
    }

    & > .item-list {
      margin-bottom: 40px;

      h3 {
        border-top: 1px solid $color-red;
        color: $color-red;
        padding-top: 4px;
        text-align: right;
        text-transform: uppercase;
      }

      ul {
        li {
          .views-field-title {
            margin-bottom: 20px;

            a {
              &:active,
              &:focus {
                text-decoration: none;
              }
            }
          }

          .item-content {
            display: none;
            margin-bottom: 40px;

            .views-field-body,
            .views-field-field-files,
            .views-field-field-links {
              .icon-arrow {
                &:before {
                  color: $color-gray-3;
                }
              }
            }
            .views-field-body {
              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }

              & + * {
                margin-top: 1rem;
              }
            }
          }
          &.active {
            .views-field-title {
              a {
                color: $color-gray-1;
                font-weight: $font-weight-semi-bold;

                &:active,
                &:focus {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
