@import '../_includes/base';

.view-faq {
  .view-content {
    > .item-list {
      margin-bottom: map_get($spacers, 5);

      h2 {
        border-bottom: 1px solid $green;
        padding-bottom: map_get($spacers, 2);
        text-align: right;
      }

      ul {
        margin: 0;

        li {
          margin: 0;

          .views-field-title {
            margin-bottom: map_get($spacers, 3);

            a {
              color: $gray;

              &:active,
              &:focus {
                text-decoration: none;
              }
            }
          }

          .item-content {
            display: none;
            margin-bottom: map_get($spacers, 5);

            .views-field-body {
              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }

              ul {
                @include ul-dashed;
                margin-bottom: 1em;
                padding-left: 1em;

                li {
                  margin: 0;
                }
              }

              & + * {
                margin-top: map_get($spacers, 3);
              }
            }

            .views-field-field-links {
              ul {
                padding-left: 1em;

                li {
                  &:before {
                    content: '';
                    color: $green;
                    display: inline-block;
                    font-family: $font-family-icons;
                    font-size: 0.7rem;
                    margin-left: -1.8em;
                    margin-right: 0.3rem;
                    vertical-align: middle;
                  }
                }
              }
            }
          }

          &.active {
            .views-field-title {
              a {
                @include link-underline;
                color: $green;
              }
            }
          }
        }
      }
    }
  }
}
