@import '../_includes/base';

.view-projects {
  &.view-display-id-page_1 {
    .view-content {
      align-items: stretch;
      display: grid;
      grid-auto-rows: 1fr;
      grid-gap: $grid-gutter-width;
      grid-template-columns: 1fr;
      justify-items: stretch;

      @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &.view-display-id-block_3 {
    .view-header {
      p {
        &:last-child {
          margin-bottom: map_get($spacers, 2);
        }
      }

      .more-link {
        a {
          background-color: $green;
          color: $white;
          display: inline-block;
          padding: 0.6em 1.4em;
        }
      }
    }

    .view-horizontal-navigation {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;

        @media #{$ie} {
          display: none;
        }
      }
    }

    .view-content {
      @include media-breakpoint-up(sm) {
        display: grid;
        grid-auto-columns: 36%;
        grid-auto-flow: column;
        position: relative;
        width: 100%;
      }

      @include media-breakpoint-up(md) {
        grid-auto-columns: 50%;
      }

      @include media-breakpoint-up(lg) {
        grid-auto-columns: 33.33%;
      }

      @include media-breakpoint-up(xl) {
        grid-auto-columns: 25%;
      }

      .views-row {
        padding: $grid-gutter-width / 2;
      }
    }
  }
}
