@import '../_includes/base';

.view-events {
  .view-content {
    align-items: stretch;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: $grid-gutter-width;
    grid-template-columns: 1fr;
    justify-items: stretch;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &.view-display-id-block_1 {
    .view-content {
      @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr;
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
