@import '../_includes/base';

.view-landing-page {

  &.view-display-id-page_1 {
    .attachment-before {
      margin-bottom: 2rem;

      .view-content {
        @include media-breakpoint-up(sm) {
          padding-left: 20px;
        }
      }
    }

    .view-content {
      .views-row {
        margin-bottom: 1rem;

        @include media-breakpoint-up(sm) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
