
.view-data-sets {
  .view-content {
    .card-columns {
      .card {
        .card-img {
          img {
            max-width: 100%;
            height: auto;
          }
        }

        .card-body {
          .field {
            &.field--institution-name {
              word-break: break-word;
            }
          }
        }
      }

      @include media-breakpoint-up(sm) {
        column-count: 2;
      }

      @include media-breakpoint-up(lg) {
        column-count: 3;
      }
    }
  }
}
