@import '../_includes/base';

.view {
  .view-filters {
    margin-bottom: map_get($spacers, 3);

    form {
      .form--inline {
        .form-item {
          float: none;
          margin-right: 0;
          margin-top: 0;

          .bef-links {
            ul {
              padding: 0;

              li {
                display: inline;

                ul {
                  display: none;
                }

                > div {
                  &.bef-link-active {
                    & + ul {
                      &:not(.bef-nested-hide) {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }

          label {
            @include font-size(16px);
          }

          &.form-type-textfield {
            label {
              margin-bottom: 0;
            }

            input {
              @include font-size(16px);
              padding: map_get($spacers, 1);
              width: 100%;
            }
          }

          &.form-type-select {
            label {
              border-bottom: 1px solid $gray-5;
              width: 100%;
            }
          }

          &.form-item-institution {
            input {
              padding-right: 20px;
            }
          }
        }

        > fieldset {
          @include media-breakpoint-up(lg) {
            legend {
              display: none;
            }
            .collapse:not(.show) {
              display: block !important;
            }
          }
        }

        .form-actions {
          input {
            padding-left: map_get($spacers, 1);
            padding-right: map_get($spacers, 1);
            margin: 0 0 map_get($spacers, 2) 0;
            width: 100%;
          }
        }
      }
    }
  }

  .pager {
    .pager__items {
      justify-content: center;
    }
  }

  .view-content {
    .views-row {
      @media #{$ie} {
        margin-bottom: map_get($spacers, 3);
      }
    }

    .card-columns {
      @include media-breakpoint-up(sm) {
        column-count: 2;
      }

      @include media-breakpoint-up(lg) {
        column-count: 3;
      }

      .card {
        @include boxShadow;
        background-color: $white;
        display: inline-block;
        margin-bottom: $grid-gutter-width;
        width: 100%;

        @media #{$ie} {
          overflow: hidden;
        }

        .card-body {
          .card-title {
            @include font-size(20px);
            margin-bottom: map_get($spacers, 2);
          }

          .field {
            @include font-size(16px);

            .field__item {
              display: inline-flex;
            }

            .paragraph {
              display: inline-block;
            }

            .field {
              display: inline-block;
              margin: 0.2rem 0 0 0;
            }
          }
        }
      }
    }
  }
}
