@import '../_includes/base';

.view.view-press-kits {
  font-weight: $font-weight-light;
  margin-bottom: $content-margin-bottom;

  h2 {
    color: $color-deep-teal;
  }

  .view-content {
    .card-columns {
      column-count: 1;

      .card {
        background-color: transparent;
        box-shadow: none;
        display: inline-block;
        margin-bottom: 40px;

        .field--name-field-files {
          margin-top: .6rem;
        }
      }

      @include media-breakpoint-up(md) {
        column-count: 2;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .attachment-after {
    .view-press-kits {
      margin-top: 5rem;

      .item-list {
        margin-bottom: 4rem;
      }

      ul {
        list-style-type: none;
      }

      .views-field-field-date {
        @include media-breakpoint-up(sm) {
          text-align: right;
        }
      }
    }
  }
}
