{#
/**
 * @see paragraph.html.twig
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="d-inline">
      {{ 'Aggregated size of the media files:'|trans }}
    </div>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
