<div style="padding-top: 80px">
    <style scoped>
      .react-autosuggest__container {
        position: relative;
      }

      .react-autosuggest__input {
        color: #333333;
        width: 100%;
        padding: 8px;
        font-family: Barlow, sans-serif;
        font-weight: 300;
        font-size: 16px;
      }

      .react-autosuggest__suggestions-container {
        display: none;
      }

      .react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        top: 38px;
        width: 280px;
        border: 1px solid #1bbd7d;
        background-color: #fff;
        font-family: Barlow, sans-serif;
        font-weight: 300;
        font-size: 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 2;
      }

      .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 8px;
      }

      .react-autosuggest__suggestion--highlighted {
        background-color: #0a8856;
        color: #fff;
      }
  </style>
  <div id="root"></div>
  <script>!function(e){function r(r){for(var n,l,f=r[0],i=r[1],a=r[2],c=0,s=[];c<f.length;c++)l=f[c],Object.prototype.hasOwnProperty.call(o,l)&&o[l]&&s.push(o[l][0]),o[l]=0;for(n in i)Object.prototype.hasOwnProperty.call(i,n)&&(e[n]=i[n]);for(p&&p(r);s.length;)s.shift()();return u.push.apply(u,a||[]),t()}function t(){for(var e,r=0;r<u.length;r++){for(var t=u[r],n=!0,f=1;f<t.length;f++){var i=t[f];0!==o[i]&&(n=!1)}n&&(u.splice(r--,1),e=l(l.s=t[0]))}return e}var n={},o={1:0},u=[];function l(r){if(n[r])return n[r].exports;var t=n[r]={i:r,l:!1,exports:{}};return e[r].call(t.exports,t,t.exports,l),t.l=!0,t.exports}l.m=e,l.c=n,l.d=function(e,r,t){l.o(e,r)||Object.defineProperty(e,r,{enumerable:!0,get:t})},l.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},l.t=function(e,r){if(1&r&&(e=l(e)),8&r)return e;if(4&r&&"object"==typeof e&&e&&e.__esModule)return e;var t=Object.create(null);if(l.r(t),Object.defineProperty(t,"default",{enumerable:!0,value:e}),2&r&&"string"!=typeof e)for(var n in e)l.d(t,n,function(r){return e[r]}.bind(null,n));return t},l.n=function(e){var r=e&&e.__esModule?function(){return e.default}:function(){return e};return l.d(r,"a",r),r},l.o=function(e,r){return Object.prototype.hasOwnProperty.call(e,r)},l.p="/";var f=this["webpackJsonpdnb-filter"]=this["webpackJsonpdnb-filter"]||[],i=f.push.bind(f);f.push=r,f=f.slice();for(var a=0;a<f.length;a++)r(f[a]);var p=i;t()}([])</script>
  <script src="/dd-react/datasets/static/js/2.62fc49bf.chunk.js"></script><script src="/dd-react/datasets/static/js/main.6fef1859.chunk.js"></script>
</div>
