$color-gray-1: #333333;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #C9C6C6;
$color-gray-5: #EFEBE8;
$color-gray-6: #F5F5F5;
$color-white: #FFFFFF;
$color-green: #1BBD7D;
$color-green-lighter: #6FCF97;
$color-green-2: #1BBD7D;
$color-green-3: #C4E6D1;
$color-bright-teal: #89E4C3;
$color-light-teal: #C6E4DD;
$color-darker-green: #72B097;
$color-deep-teal: #099B8A;
$color-main: #5DC4B8;
$color-lighter-teal: #85D6D6;
$color-light-blue: #ABE7E7;
$color-blue: #4495A7;
$color-dull-blue: #92C3C2;
$color-dull-dark-blue: #7AA3AB;
$color-deep-blue: #1D5D81;
$color-red: #FD665C;
$color-red-2: #F29689;
$color-red-3: #FCD9C8;
$color-yellow: #F8CF77;
$color-orange: #FDA87E;

$color-prize-1: $color-blue;
$color-prize-2: $color-bright-teal;

$color-scheme-1-1: #ABE7E7;
$color-scheme-1-2: #FFC09C;
$color-scheme-2-1: #F8CF77;
$color-scheme-2-2: #C4E6D1;
$color-scheme-3-1: #FFC09C;
$color-scheme-3-2: #FFE79E;
$color-scheme-4-1: #89E4C3;
$color-scheme-4-2: #FCD9C8;
$color-scheme-5-1: #FFE6B5;
$color-scheme-5-2: #C6E4DD;

$color-link: $color-deep-blue;
$color-link-bright: $color-white;

$background: $color-gray-6;

$font-family-sans-serif: 'Barlow', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-icons: 'cdv_icons';

$content-margin-bottom: 6rem;

$border-radius: 4px;

$font-weight-light: 200;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$ie: 'screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)';
