{#
/**
 * @see region.html.twig
 */
#}
{%
set classes = [
'region',
'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="burger">
      <span class="patty">{</span><span class="patty">}</span>
    </div>
    <div class="menu--container">
      {{ content }}
    </div>
  </div>
{% endif %}
