{#
/**
 * Header template for the frontpage.
 * @see page.html.twig
 */
#}
<header role="banner" class="header--tiles">
  <div class="header--tiles--container">
    <div class="header--tiles--overlay"></div>
    <div class="tiles tiles--frontpage"></div>
    <div class="container header--tiles--content">
      <div class="header--tile--logo">
        <div class="d-flex h-100 flex-column justify-content-between align-items-center">
          <div class="header--title--logo--image"><img src="{{ theme_path }}/img/CDV_logo.svg"></div>
          <div class="header--title--logo--text d-flex flex-column justify-content-end text-left">
            <h1 class="sr-only">Coding Da Vinci</h1>
            {{ page.header }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
