{#
/**
 * @see bef-links.html.twig
 */
#}
{%
  set classes = [
    'bef-links',
    is_nested ? 'bef-nested'
  ]
%}
{%
  set is_nested = true
%}
<div{{ attributes.addClass(classes) }}>
  {% set current_nesting_level = 0 %}
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% set item = item|merge({'#attributes': {'class': item['#attributes']['class']|merge(['badge'])}}) %}
    {% if is_nested %}
      {% set new_nesting_level = attribute(depth, child) %}
      {% include '@better_exposed_filters/bef-nested-elements.html.twig' %}
      {% set current_nesting_level = new_nesting_level %}
    {# Don't render "All" links: #}
    {% elseif child != 'All' and child != '' %}
      {{ item }}
    {% endif %}
  {% endfor %}
</div>
