{#
/**
 * @see bef-links.html.twig
 */
#}
{%
  set classes = [
    'bef-links',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% set current_nesting_level = 0 %}
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% set item = item|merge({'#attributes': {'class': 'badge'}}) %}
    {% if child in selected %}
      {% set item = item|merge({'#attributes': {'class': 'badge bef-link-active'}}) %}
    {% endif %}
    {% if isNested %}
      {% set new_nesting_level = attribute(depth, child) %}
      {% include '@relaunch2018/bef/bef-nested-elements.html.twig' %}
      {% set current_nesting_level = new_nesting_level %}
    {# Don't render "All" links: #}
    {% elseif child != 'All' and child != '' %}
      {{ item }}
    {% endif %}
  {% endfor %}
</div>
