@import 'variables';

@mixin easeAll {
  transition: all .3s ease;
}

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin fadeInOut {
  transition: opacity .4s ease-in-out;
}

@mixin curlyBraces($color, $fontWeight: '') {
  &:after,
  &:before {
    color: $color;
    @if ($fontWeight != '') {
      font-weight: $fontWeight;
    }
  }
  &:after {
    color: $color;
    content: '}';
  }
  &:before {
    color: $color;
    content: '{';
  }
}

@mixin rounded {
  border-radius: $border-radius;
}

@mixin boxShadow() {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

@mixin fontStyle($type) {
  @if $type == 'large' {
    font-size: 1.4rem;
    letter-spacing: .04em;

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem
    }
  }
  @elseif $type == 'small' {
    font-size: .9rem;

    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }
  @elseif $type == 'very-small' {
    font-size: .8rem;
    letter-spacing: .04em;

    @include media-breakpoint-up(md) {
      font-size: .9rem;
    }
  }
  @elseif $type == 'badge' {
    font-size: .8rem;

    @include media-breakpoint-up(md) {
      font-size: .9rem;
    }
  }
  @elseif $type == 'title' {
    font-size: 1.8rem;
    font-weight: $font-weight-semi-bold;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: 2.2rem
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.6rem
    }
  }
  @else {
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
  }
}

@mixin linkColor($brightness, $curlyBraces: false) {
  @if $brightness == 'dark' {
    a {
      color: $color-link-bright;

      &:visited {
        color: $color-link-bright;
      }

      &:hover {
        color: $color-link-bright;
      }

      &:before {
        color: $color-link-bright;
      }
    }
    @if $curlyBraces {
      a {
        @include curlyBraces($color-link-bright);
      }
    }
  }
  @elseif $brightness == 'alternative' {
    a {
      color: $color-dull-blue;

      &:visited {
        color: $color-dull-blue;
      }

      &:hover {
        color: $color-dull-blue;
      }

      &:before {
        color: $color-dull-blue;
      }
    }
    @if $curlyBraces {
      a {
        @include curlyBraces($color-dull-dark-blue);
      }
    }
  }
}

@mixin icon {
  font-family: $font-family-icons;
  margin-right: .4em;
}

@mixin fa-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

@mixin fa-icon-brand {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
}
