@import 'variables';

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin fadeInOut {
  transition: opacity .4s ease-in-out;
}

@mixin md {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin curlyBraces($color) {
  &:after {
    color: $color;
    content: '}';
  }
  &:before {
    color: $color;
    content: '{';
  }
}

@mixin boxShadow() {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

@mixin fontSize($size) {
  @if $size == 'small' {
    font-size: $font-size-sm-small;

    @include media-breakpoint-up(md) {
      font-size: $font-size-md-small;
    }
  }
  @else {
    font-size: $font-size-sm;

    @include media-breakpoint-up(md) {
      font-size: $font-size-md;
    }
  }
}
