$color-gray-1: #333333;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #C9C6C6;
$color-gray-5: #EFEBE8;
$color-gray-6: #F5F5F5;
$color-white: #FFFFFF;
$color-green: #1BBD7D;
$color-green-lighter: #6FCF97;
$color-green-3: #C4E6D1;
$color-light-teal: #C6E4DD;
$color-darker-green: #72B097;
$color-dark-green: #2D7958;
$color-deep-teal: #099B8A;
$color-main: #5DC4B8;
$color-lighter-teal: #85D6D6;
$color-light-blue: #ABE7E7;
$color-dull-blue: #92C3C2;
$color-dull-dark-blue: #7AA3AB;
$color-deep-blue: #1D5D81;
$color-red: #FD665C;
$color-red-2: #F29689;
$color-red-3: #FCD9C8;
$color-light-yellow: #FFE79E;
$color-yellow: #FFC565;
$color-orange: #FDA87E;

$background: $color-gray-6;

$font-family-sans-serif: 'Barlow', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-icons: 'cdv_icons';

$content-margin-bottom: 6rem;

$border-radius: 4px;
