{#
/**
 * @see field--text-long.html.twig
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% for item in items %}
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    </div>
  </div>
{% endfor %}
