{#
/**
 * @see paragraph-html.twig
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <a href="{{ content.field_link.0 }}" target="_blank">{{ content|without('field_link') }}</a>
    {% endblock %}
  </div>
{% endblock paragraph %}
