{#
/**
 * @see responsive-menu-block-toggle.html.twig
 */
#}
<a id="toggle-icon" class="toggle responsive-menu-toggle-icon Sticky" title="Menu" href="#off-canvas">
  <span class="patty">{</span><span class="patty">}</span>
</a>
