{#
/**
 * @see views-view-unformatted.html.twig
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="row">
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
        'col-md-4',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>
